<%= form_for [:dashboard, @event, @document], remote: true,
             html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label "Tên", class:
      "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="input-group col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "File", class:
      "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="input-group col-md-6 col-sm-6 col-xs-12">
      <%= f.file_field :file, class: "form-control" %>
    </div>
  </div>


  <div class="form-group form-actions text-center">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Gửi </button>
    </div>
  </div>
<% end %>
