<%= form_for [:dashboard, @event, @poll], remote: true,
             html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label "Tên", class:
      "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="input-group col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Thời gian dự kiến", class:
        "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="input-group col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :intend, class: "form-control", step: 5, min: 0 %>
    </div>
  </div>

    <h4 class = "text-center">Content</h4>
    <%= f.text_area :content, id: "editor1", col: 5,class: "form-control editor-inline", placeholder: "Input the content", contenteditable: true %>
  <hr>
  <div class="form-group">
    <%= f.label "Số lần bầu chọn", class:
      "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="input-group col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :multi_vote, class: "form-control", step: 1, min: 0, value: (@poll.multi_vote || 1) %>
    </div>
  </div>

  <div class='tasks clearfix'>
    <div class='tasks-sub-form'>
      <%= f.fields_for :options do |option_form| %>
        <%= render "option_fields", f: option_form %>
      <% end %>
    </div>
    <%= link_to_add_fields("Thêm lựa chọn", f, :options, { class: "add-link-button" }) %>
  </div>
  <div class="form-group form-actions text-center">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Gửi </button>
    </div>
  </div>
<% end %>
<%= javascript_include_tag "dashboard/time_picker" %>
<%= javascript_include_tag "dashboard/poll" %>
