<tr id="el-note-<%= note.id %>">
  <td><%= note.title %></td>
  <td><%= strftime note.starts_on %></td>
  <td class="text-center">
    <%= link_to note,
                title: "edit", class: "btn btn-default",
                remote: true do %>
      <%= fa_icon "eye" %>
    <% end %>
  </td>
</tr>
