<header class="navbar navbar-default">
  <ul class="nav navbar-nav-custom">
    <li>
      <%= link_to dashboard_root_path do %>
        <i class="fa fa-home fa-fw"></i>
      <% end %>
    </li>
  </ul>
  <%= yield :search_box %>
  <ul class="nav navbar-nav-custom pull-right">
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
        <u><%= t("navbar.account")%></u><i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
        <li class="dropdown-header text-center"><%= t("navbar.account")%></li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-lock fa-fw pull-right"></i> <%= t("navbar.logout")%>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</header>
