<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield :title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <%= include_gon %>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
    <%= action_cable_meta_tag %>
    <%= render 'layouts/shim'%>
  </head>
  <body <%= "data-params-id=#{params[:id] || params["event_id"]}" %> >
    <%#= render "layouts/header" %>
    <!--  <div id="flash_messages">-->
    <%# flash.each do |message_type, message| %>
      <%#= content_tag :div, message, class: "alert alert-#{message_type}" %>
      <%# end %>
      <!--  </div>-->
      <div id="page-wrapper">
        <%= render "layouts/preloader" %>
        <div id="page-container">
          <%#= render "layouts/sidebar-atl" %>
          <%#= render "layouts/sidebar" %>
          <div id="main-container">
            <%= render "layouts/dashboard/navbar" %>
            <%= byebug %>
            <div id="page-content">
              <%= yield %>
            </div>
            <%= render "layouts/footer" %>
          </div>
        </div>
        <%= render "shared/modal" %>
      </div>
      <%= javascript_tag do %>
        $(function() {
        $("time.timeago").timeago();
        });
      <% end %>
      <%#= render "layouts/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </body>
  </html>
