<%= render 'layouts/header' %>

<div class="section-1-container section-container">
    <div class="container">
        <div class="row">
            <div class="col section-1 section-description">
                <h2><%= t "forgot_password.title" %></h2>

                <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                  <%= f.error_notification %>

                  <div class="form-inputs">
                    <%= f.input :email,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "email" } %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :button, class: "btn btn-primary" %>
                  </div>
                <% end %>
                <br>
                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>
