<div class="col-6 col-md-3 col-lg">
    <!-- Card -->
    <div class="card mb-7" data-toggle="card-collapse">
        <!-- Image -->
        <a href="product.html">
        <%# <img src="assets/img/products/product-5.jpg" alt="..." class="card-img-top"> %>
        </a>
        <!-- Collapse -->
        <div class="card-collapse-parent">
            <!-- Body -->
            <div class="card-body px-0 bg-white text-center">
                <!-- Heading -->
                <div class="mb-1 font-weight-bold">
                <%= link_to  product_item.product_name, "#", class:"text-body" %><br>
                <%= link_to I18n.t("product_detail.detail"), product_path(product_item) %>
                </div>
                <!-- Price -->
                <div class="mb-1 font-weight-bold text-muted">
                    $<%= product_item.price%>
                </div>
                <ul style="list-style-type: none">
                    <li style="display: inline-block; margin-right: 10px;">
                    <%= form_for :carts, url: shopping_path, method: :POST, remote: true do |f| %>
                        <div><%= f.hidden_field :product_id, value: product_item.id %></div>
                        <div><%= f.hidden_field :quantity, value: 1 %></div>
                        <%= f.button :submit do %>
                        <i class="fa fa-shopping-bag"></i>
                        <% end %>
                    <% end %>
                    </li>
                    <li style="display: inline-block;">
                    <%= form_for :carts, url: shopping_path, method: :POST do |f| %>
                        <div><%= f.hidden_field :product_id, value: product_item.id %></div>
                        <div><%= f.hidden_field :quantity, value: 1 %></div>
                        <%= f.button :submit do %>
                        <i class="fa fa-shopping-cart"></i>
                        <% end %>
                    <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
