<!-- Search -->
<div class="modal fixed-right fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <div class="modal-content">

      <!-- Close -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-x" aria-hidden="true"></i>
      </button>

      <!-- Header-->
      <div class="modal-header line-height-fixed font-size-lg">
        <strong class="mx-auto">Search Products</strong>
      </div>

      <!-- Body: Form -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="sr-only" for="modalSearchCategories">Categories:</label>
            <select class="custom-select" id="modalSearchCategories">
              <option selected>All Categories</option>
              <option>Women</option>
              <option>Men</option>
              <option>Kids</option>
            </select>
          </div>
          <div class="input-group input-group-merge">
            <input class="form-control" type="search" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-border" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Body: Results (add `.d-none` to disable it) -->
      <div class="modal-body border-top font-size-sm">

        <!-- Heading -->
        <p>Search Results:</p>

        <!-- Items -->
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">

            <!-- Image -->
            <img class="img-fluid" src="./assets/img/products/product-5.jpg" alt="...">

          </div>
          <div class="col position-static">

            <!-- Text -->
            <p class="mb-0 font-weight-bold">
              <a class="stretched-link text-body" href="./product.html">Leather mid-heel Sandals</a> <br>
              <span class="text-muted">$129.00</span>
            </p>

          </div>
        </div>
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">

            <!-- Image -->
            <img class="img-fluid" src="./assets/img/products/product-6.jpg" alt="...">

          </div>
          <div class="col position-static">

            <!-- Text -->
            <p class="mb-0 font-weight-bold">
              <a class="stretched-link text-body" href="./product.html">Cotton floral print Dress</a> <br>
              <span class="text-muted">$40.00</span>
            </p>

          </div>
        </div>
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">

            <!-- Image -->
            <img class="img-fluid" src="./assets/img/products/product-7.jpg" alt="...">

          </div>
          <div class="col position-static">

            <!-- Text -->
            <p class="mb-0 font-weight-bold">
              <a class="stretched-link text-body" href="./product.html">Leather Sneakers</a> <br>
              <span class="text-primary">$85.00</span>
            </p>

          </div>
        </div>
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">

            <!-- Image -->
            <img class="img-fluid" src="./assets/img/products/product-8.jpg" alt="...">

          </div>
          <div class="col position-static">

            <!-- Text -->
            <p class="mb-0 font-weight-bold">
              <a class="stretched-link text-body" href="./product.html">Cropped cotton Top</a> <br>
              <span class="text-muted">$29.00</span>
            </p>

          </div>
        </div>
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">

            <!-- Image -->
            <img class="img-fluid" src="./assets/img/products/product-9.jpg" alt="...">

          </div>
          <div class="col position-static">

            <!-- Text -->
            <p class="mb-0 font-weight-bold">
              <a class="stretched-link text-body" href="./product.html">Floral print midi Dress</a> <br>
              <span class="text-muted">$50.00</span>
            </p>

          </div>
        </div>

        <!-- Button -->
        <a class="btn btn-link px-0 text-reset" href="./shop.html">
          View All <i class="fa fa-arrow-right ml-2"></i>
        </a>

      </div>

      <!-- Body: Empty (remove `.d-none` to disable it) -->
      <div class="d-none modal-body">

        <!-- Text -->
        <p class="mb-3 font-size-sm text-center">
          Nothing matches your search
        </p>
        <p class="mb-0 font-size-sm text-center">
          😞
        </p>

      </div>

    </div>
  </div>
</div>

<!-- Shopping Cart -->
<div class="modal fixed-right fade" id="modalShoppingCart" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">

    <!-- Full cart (add `.d-none` to disable it) -->
    <div class="modal-content">

      <!-- Close -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-x" aria-hidden="true"></i>
      </button>

      <!-- Header-->
      <div class="modal-header line-height-fixed font-size-lg">
        <strong class="mx-auto">Your Cart (2)</strong>
      </div>

      <!-- List group -->
      <ul class="list-group list-group-lg list-group-flush">
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-4">

              <!-- Image -->
              <a href="./product.html">
                <img class="img-fluid" src="./assets/img/products/product-6.jpg" alt="...">
              </a>

            </div>
            <div class="col-8">

              <!-- Title -->
              <p class="font-size-sm font-weight-bold mb-6">
                <a class="text-body" href="./product.html">Cotton floral print Dress</a> <br>
                <span class="text-muted">$40.00</span>
              </p>

              <!--Footer -->
              <div class="d-flex align-items-center">

                <!-- Select -->
                <select class="custom-select custom-select-xxs w-auto">
                  <option value="1">1</option>
                  <option value="1">2</option>
                  <option value="1">3</option>
                </select>

                <!-- Remove -->
                <a class="font-size-xs text-gray-400 ml-auto" href="#!">
                  <i class="fa fa-x"></i> Remove
                </a>

              </div>

            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-4">

              <!-- Image -->
              <a href="./product.html">
                <img class="img-fluid" src="./assets/img/products/product-10.jpg" alt="...">
              </a>

            </div>
            <div class="col-8">

              <!-- Title -->
              <p class="font-size-sm font-weight-bold mb-6">
                <a class="text-body" href="./product.html">Suede cross body Bag</a> <br>
                <span class="text-muted">$49.00</span>
              </p>

              <!--Footer -->
              <div class="d-flex align-items-center">

                <!-- Select -->
                <select class="custom-select custom-select-xxs w-auto">
                  <option value="1">1</option>
                  <option value="1">2</option>
                  <option value="1">3</option>
                </select>

                <!-- Remove -->
                <a class="font-size-xs text-gray-400 ml-auto" href="#!">
                  <i class="fa fa-x"></i> Remove
                </a>

              </div>

            </div>
          </div>
        </li>
      </ul>

      <!-- Footer -->
      <div class="modal-footer line-height-fixed font-size-sm bg-light mt-auto">
        <strong>Subtotal</strong> <strong class="ml-auto">$89.00</strong>
      </div>

      <!-- Buttons -->
      <div class="modal-body">
        <a class="btn btn-block btn-dark" href="./checkout.html">Continue to Checkout</a>
        <a class="btn btn-block btn-outline-dark" href="./shopping-cart.html">View Cart</a>
      </div>

    </div>

    <!-- Empty cart (remove `.d-none` to enable it) -->
    <div class="modal-content d-none">

      <!-- Close -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-x" aria-hidden="true"></i>
      </button>

      <!-- Header-->
      <div class="modal-header line-height-fixed font-size-lg">
        <strong class="mx-auto">Your Cart (0)</strong>
      </div>

      <!-- Body -->
      <div class="modal-body flex-grow-0 my-auto">

        <!-- Heading -->
        <h6 class="mb-7 text-center">Your cart is empty 😞</h6>

        <!-- Button -->
        <a class="btn btn-block btn-outline-dark" href="#!">
          Continue Shopping
        </a>

      </div>

    </div>

  </div>
</div>

<!-- Size Chart -->
<div class="modal fade" id="modalSizeChart" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <!-- Close -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-x" aria-hidden="true"></i>
      </button>

      <!-- Header-->
      <div class="modal-header line-height-fixed font-size-lg">
        <strong class="mx-auto">Size Chart</strong>
      </div>

      <!-- Body -->
      <div class="modal-body border-bottom">

        <!-- Header -->
        <div class="d-flex mb-7">

          <!-- Heading -->
          <h5 class="mb-0">Clothing</h5>

          <!-- Toggles -->
          <div class="btn-group btn-group-toggle ml-auto" data-toggle="buttons">
            <label class="btn btn-xxs btn-circle btn-outline-dark font-size-xxxs rounded-0 active">
              <input type="radio" name="modalSizeChartUnitOne" checked> IN
            </label>
            <label class="btn btn-xxs btn-circle btn-outline-dark font-size-xxxs rounded-0 ml-2">
              <input type="radio" name="modalSizeChartUnitOne"> CM
            </label>
          </div>

        </div>

        <!-- Table -->
        <div class="table-responsive">
          <table class="table table-bordered table-sm table-hover mb-0">
            <thead>
              <tr>
                <th>Size</th>
                <th>US</th>
                <th>Bust</th>
                <th>Waist</th>
                <th>Hips</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>XS</td>
                <td>2</td>
                <td>32</td>
                <td>24 - 25</td>
                <td>33 - 34</td>
              </tr>
              <tr>
                <td>S</td>
                <td>4</td>
                <td>34 - 35</td>
                <td>26 - 27</td>
                <td>35 - 26</td>
              </tr>
              <tr>
                <td>M</td>
                <td>6</td>
                <td>36 - 37</td>
                <td>28 - 29</td>
                <td>38 - 40</td>
              </tr>
              <tr>
                <td>L</td>
                <td>8</td>
                <td>38 - 29</td>
                <td>30 - 31</td>
                <td>42 - 44</td>
              </tr>
              <tr>
                <td>XL</td>
                <td>10</td>
                <td>40 - 41</td>
                <td>32 - 33</td>
                <td>45 - 47</td>
              </tr>
              <tr>
                <td>XXL</td>
                <td>12</td>
                <td>42 - 43</td>
                <td>34 - 35</td>
                <td>48 - 50</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Header -->
        <div class="d-flex mb-7">

          <!-- Heading -->
          <h5 class="mb-0">Shoes</h5>

          <!-- Toggles -->
          <div class="btn-group btn-group-toggle ml-auto" data-toggle="buttons">
            <label class="btn btn-xxs btn-circle btn-outline-dark font-size-xxxs rounded-0 active">
              <input type="radio" name="modalSizeCharUnitTwo" checked> IN
            </label>
            <label class="btn btn-xxs btn-circle btn-outline-dark font-size-xxxs rounded-0 ml-2">
              <input type="radio" name="modalSizeCharUnitTwo"> CM
            </label>
          </div>

        </div>

        <!-- Tables -->
        <div class="row">
          <div class="col-12 col-lg-6">

            <!-- Table -->
            <div class="table-responsive">
              <table class="table table-bordered table-sm table-hover mb-lg-0">
                <thead>
                  <tr>
                    <th>Size</th>
                    <th>US</th>
                    <th>Foot Length</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>36</td>
                    <td>5</td>
                    <td>22.8</td>
                  </tr>
                  <tr>
                    <td>26.5</td>
                    <td>5.5</td>
                    <td>23.1</td>
                  </tr>
                  <tr>
                    <td>37</td>
                    <td>6</td>
                    <td>23.5</td>
                  </tr>
                  <tr>
                    <td>37.5</td>
                    <td>6.</td>
                    <td>23.5</td>
                  </tr>
                  <tr>
                    <td>38</td>
                    <td>7</td>
                    <td>24.1</td>
                  </tr>
                  <tr>
                    <td>38.5</td>
                    <td>7.5</td>
                    <td>24.5</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="col-12 col-lg-6">

            <!-- Table -->
            <div class="table-responsive">
              <table class="table table-bordered table-sm table-hover mb-0">
                <thead>
                  <tr>
                    <th>Size</th>
                    <th>US</th>
                    <th>Foot Length</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>36</td>
                    <td>5</td>
                    <td>22.8</td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>8</td>
                    <td>24.1</td>
                  </tr>
                  <tr>
                    <td>40</td>
                    <td>9</td>
                    <td>25.4</td>
                  </tr>
                  <tr>
                    <td>40.5</td>
                    <td>9.5</td>
                    <td>25.7</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>10</td>
                    <td>26.0</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-xl navbar-light zindex-fixed">
    <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="#">
        Shopper.
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBoxedTopCollapse" aria-controls="navbarBoxedTopCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarBoxedTopCollapse">

        <!-- Nav -->
        <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
            <!-- Toggle -->
            <a class="nav-link" data-toggle="dropdown" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">

            <!-- Toggle -->
            <a class="nav-link" data-toggle="dropdown" href="#">Prodcut</a>

            <!-- Menu -->
            <div class="dropdown-menu" style="min-width: 650px;">
            <div class="card card-lg">
                <div class="card-body">
                <div class="row">
                    <div class="col">

                    <!-- Heading -->
                    <div class="mb-5 font-weight-bold">Apple</div>

                    <!-- Links -->
                    <ul class="list-styled font-size-sm">
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./product.html">Default</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./product-images-left.html">Images Left</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./product-image-grid.html">Image Grid</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./product-image-slider.html">Image Slider</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./product-images-stacked.html">Images Stacked</a>
                        </li>
                    </ul>

                    </div>
                    <div class="col">

                    <!-- Heading -->
                    <div class="mb-5 font-weight-bold">Samsung</div>

                    <!-- Links -->
                    <ul class="list-styled mb-7 font-size-sm">
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./shopping-cart.html">Shopping Cart</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./checkout.html">Checkout</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./order-completed.html">Order Completed</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./shipping-and-returns.html">Shipping & Returns</a>
                        </li>
                    </ul>

                    <!-- Heading -->
                    <div class="mb-5 font-weight-bold">Dell</div>

                    <!-- Links -->
                    <ul class="list-styled font-size-sm">
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./account-order.html">Order</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./account-orders.html">Orders</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./account-personal-info.html">Personal Info</a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" href="./auth.html">Auth</a>
                        </li>
                    </ul>

                    </div>
                    <div class="col">

                    <!-- Heading -->
                    <div class="mb-5 font-weight-bold">Huawei</div>

                    <!-- Links -->
                    <ul class="list-styled font-size-sm">
                        <li class="list-styled-item">
                        <a class="list-styled-link" data-toggle="modal" href="#modalNewsletterHorizontal">
                            Newsletter: Horizontal
                        </a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" data-toggle="modal" href="#modalNewsletterVertical">
                            Newsletter: Vertical
                        </a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" data-toggle="modal" href="#modalProduct">
                            Product
                        </a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" data-toggle="modal" href="#modalSearch">
                            Search
                        </a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" data-toggle="modal" href="#modalShoppingCart">
                            Shopping Cart
                        </a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" data-toggle="modal" href="#modalSizeChart">
                            Size Chart
                        </a>
                        </li>
                        <li class="list-styled-item">
                        <a class="list-styled-link" data-toggle="modal" href="#modalWaitList">
                            Wait List
                        </a>
                        </li>
                    </ul>

                    </div>
                </div>
                </div>
            </div>
            </div>
        </li>
        <li class="nav-item">
            <!-- Toggle -->
            <a class="nav-link" href="#">Abouts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./docs/getting-started.html">Contact</a>
        </li>
        </ul>

        <!-- Nav -->
        <ul class="navbar-nav nav-divided">
        <li class="nav-item dropdown">

            <!-- Toggle -->
            <a class="nav-link text-body" data-toggle="dropdown" href="#">United States</a>

            <!-- Menu -->
            <div class="dropdown-menu">
            <div class="card card-lg">
                <div class="card-body">
                <ul class="list-styled font-size-sm">
                    <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">United States</a>
                    </li>
                    <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">Canada</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>

        </li>
        <li class="nav-item dropdown">

            <!-- Toggle -->
            <a class="nav-link text-body" data-toggle="dropdown" href="#">USD</a>

            <!-- Menu -->
            <div class="dropdown-menu">
            <div class="card card-lg">
                <div class="card-body">
                <ul class="list-styled font-size-sm">
                    <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">USD</a>
                    </li>
                    <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">EUR</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>

        </li>
        <li class="nav-item dropdown">

            <!-- Toggle -->
            <a class="nav-link text-body" data-toggle="dropdown" href="#">EN</a>

            <!-- Menu -->
            <div class="dropdown-menu">
            <div class="card card-lg">
                <div class="card-body">
                <ul class="list-styled font-size-sm">
                    <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">English</a>
                    </li>
                    <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">French</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>

        </li>
        </ul>

        <!-- Nav -->
        <ul class="navbar-nav flex-row">
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" href="#modalSearch">
            <i class="fa fa-search"></i>
            </a>
        </li>
        <li class="nav-item ml-lg-n4">
            <a class="nav-link">
              <% if current_user %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path do %>
                  <i class="fa fa-user"></i>
                <% end %>
              <% end %>
            </a>
        </li>
        <li class="nav-item ml-lg-n4">
            <a class="nav-link" data-toggle="modal" href="#modalShoppingCart">
            <span data-cart-items="2">
                <i class="fa fa-shopping-cart"></i>
            </span>
            </a>
        </li>
        </ul>

    </div>

    </div>
</nav>

<!-- BREADCRUMB -->
<nav class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400">Home</a>
          </li>
          <li class="breadcrumb-item active">
            My Account
          </li>
        </ol>

      </div>
    </div>
  </div>
</nav>

<!-- CONTENT -->
<section class="pt-7 pb-12">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h3 class="mb-10">My Account</h3>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">

        <!-- Nav -->
        <nav class="mb-10 mb-md-0">
          <div class="list-group list-group-sm list-group-strong list-group-flush-x">
            <a class="list-group-item list-group-item-action" href="account-orders.html">
              Orders
            </a>
            <a class="list-group-item list-group-item-action active" href="account-personal-info.html">
              Personal Info
            </a>
          </div>
        </nav>

      </div>
      <div class="col-12 col-md-9 col-lg-8 offset-lg-1">

        <!-- Form -->
        <form>
          <div class="row">
            <div class="col-12 col-md-6">

              <!-- Email -->
              <div class="form-group">
                <label for="accountFirstName">
                  Name *
                </label>
                <input class="form-control form-control-sm" id="accountFirstName" type="text" placeholder="Name *" value=" <%=@user.name%> " required>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Email -->
              <div class="form-group">
                <label for="accountLastName">
                  Phone *
                </label>
                <input class="form-control form-control-sm" id="accountLastName" type="text" placeholder="Phone *" value="<%=@user.phone%>" required>
              </div>

            </div>
            <div class="col-12">

              <!-- Email -->
              <div class="form-group">
                <label for="accountEmail">
                  Email Address *
                </label>
                <input class="form-control form-control-sm" id="accountEmail" type="email" placeholder="Email Address *" value="<%=@user.email%>" required>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Password -->
              <div class="form-group">
                <label for="accountPassword">
                  Current Password *
                </label>
                <input class="form-control form-control-sm" id="accountPassword" type="password" placeholder="Current Password *" required>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Password -->
              <div class="form-group">
                <label for="AccountNewPassword">
                  New Password *
                </label>
                <input class="form-control form-control-sm" id="AccountNewPassword" type="password" placeholder="New Password *" required>
              </div>

            </div>

            </div>
            <div class="col-12">

              <!-- Button -->
              <button class="btn btn-dark" type="submit">Save Changes</button>

            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>