<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center"><h1><%= t("payment.title") %></h1></div>
      <%= form_for @order do |f| %>

        <div class="form-group">
          <%= f.label :name, I18n.t("payment.name") %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :phone, I18n.t("payment.phone") %>
          <%= f.telephone_field :phone, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, I18n.t("payment.address") %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="text-center">
          <%= f.button :submit, class: "btn btn-success btn-lg btn-block"  do %>
            <%= I18n.t("payment.submit") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
</div>
