<%# <!-- Revolution Slider CSS -->
<link href="css/revolution-slider.css" rel="stylesheet"> %>

<!-- mobile menu -->
  <div id="mobile-menu">
    <ul>
      <li><a href="index.html" class="home1">Home</a>
        <ul>
          <li><a href="index.html"><span>Home Version 1</span></a></li>
          <li><a href="Version2/index.html"><span>Home Version 2</span></a></li>
          <li><a href="Version3/index.html"><span>Home Version 3</span></a></li>
          <li><a href="Version4/index.html"><span>Home Version 4</span></a></li>
          <li><a href="Version5/index.html"><span>Home Version 5</span></a></li>
          <li><a href="rtl-version/index.html"><span>RTL Version</span></a></li>
          <li><a href="rtl-version1/index.html"><span>Home Version 1 RTL</span></a></li>
          </ul>
      </li>
      <li><a href="shop_grid.html">Pages</a>
        <ul>
          <li><a href="#" class="">Shop Pages </a>
            <ul>
              <li> <a href="shop_grid.html"> Shop grid </a> </li>
              <li> <a href="shop_grid_right_sidebar.html"> Shop grid right sidebar</a> </li>
              <li> <a href="shop_list.html"> Shop list </a> </li>
              <li> <a href="shop_list_right_sidebar.html"> Shop list right sidebar</a> </li>
              <li> <a href="shop_grid_full_width.html"> Shop Full width </a> </li>
            </ul>
          </li>
          <li><a href="#">Ecommerce Pages </a>
            <ul>
              <li> <a href="wishlist.html"> Wishlists </a> </li>
              <li> <a href="checkout.html"> Checkout </a> </li>
              <li> <a href="compare.html"> Compare </a> </li>
              <li> <a href="shopping_cart.html"> Shopping cart </a> </li>
              <li> <a href="quick_view.html"> Quick View </a> </li>
            </ul>
          </li>
          <li> <a href="#">Static Pages </a>
            <ul>
              <li> <a href="account_page.html"> Create Account Page </a> </li>
              <li> <a href="about_us.html"> About Us </a> </li>
              <li> <a href="contact_us.html"> Contact us </a> </li>
              <li> <a href="404error.html"> Error 404 </a> </li>
              <li> <a href="faq.html"> FAQ </a> </li>
            </ul>
          </li>
          <li> <a href="#">Product Categories </a>
            <ul>
              <li> <a href="cat-3-col.html"> 3 Column Sidebar </a> </li>
              <li> <a href="cat-4-col.html"> 4 Column Sidebar</a> </li>
              <li> <a href="cat-4-col-full.html"> 4 Column Full width </a> </li>
              <li> <a href="cat-6-col.html"> 6 Columns Full width</a> </li>
            </ul>
          </li>
          <li> <a href="#">Single Product Pages </a>
            <ul>
              <li><a href="single_product.html"> single product </a> </li>
              <li> <a href="single_product_left_sidebar.html"> single product left sidebar</a> </li>
              <li> <a href="single_product_right_sidebar.html"> single product right sidebar</a> </li>
              <li> <a href="single_product_magnify_zoom.html"> single product magnify zoom</a> </li>
            </ul>
          </li>
          <li> <a href="#"> Blog Pages </a>
            <ul>
              <li><a href="blog_right_sidebar.html">Blog – Right sidebar </a></li>
              <li><a href="blog_left_sidebar.html">Blog – Left sidebar </a></li>
              <li><a href="blog_full_width.html">Blog_ - Full width</a></li>
              <li><a href="single_post.html">Single post </a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="contact_us.html">Contact us</a></li>
      <li><a href="about_us.html">About us</a></li>
      <li><a href="blog.html">Blog</a>
        <ul>
          <li><a href="blog_right_sidebar.html">Blog – Right sidebar </a></li>
          <li><a href="blog_left_sidebar.html">Blog – Left sidebar </a></li>
          <li><a href="blog_full_width.html">Blog_ - Full width</a></li>
          <li><a href="single_post.html">Single post </a></li>
        </ul>
      </li>
      <li><a href="shop_grid.html">Camera & Photo</a>
        <ul>
          <li><a href="#" class="">Accessories</a>
            <ul>
              <li><a href="shop_grid.html">Cocktail</a></li>
              <li><a href="shop_grid.html">Day</a></li>
              <li><a href="shop_grid.html">Evening</a></li>
              <li><a href="shop_grid.html">Sundresses</a></li>
            </ul>
          </li>
          <li><a href="#">Dresses</a>
            <ul>
              <li><a href="shop_grid.html">Accessories</a></li>
              <li><a href="shop_grid.html">Hats and Gloves</a></li>
              <li><a href="shop_grid.html">Lifestyle</a></li>
              <li><a href="shop_grid.html">Bras</a></li>
            </ul>
          </li>
          <li> <a href="#">Shoes</a>
            <ul>
              <li> <a href="shop_grid.html">Flat Shoes</a> </li>
              <li> <a href="shop_grid.html">Flat Sandals</a> </li>
              <li> <a href="shop_grid.html">Boots</a> </li>
              <li> <a href="shop_grid.html">Heels</a> </li>
            </ul>
          </li>
          <li> <a href="#">Jwellery</a>
            <ul>
              <li> <a href="shop_grid.html">Bracelets</a> </li>
              <li> <a href="shop_grid.html">Necklaces &amp; Pendent</a> </li>
              <li> <a href="shop_grid.html">Pendants</a> </li>
              <li> <a href="shop_grid.html">Pins &amp; Brooches</a> </li>
            </ul>
          </li>
          <li> <a href="#">Dresses</a>
            <ul>
              <li> <a href="shop_grid.html">Casual Dresses</a> </li>
              <li> <a href="shop_grid.html">Evening</a> </li>
              <li> <a href="shop_grid.html">Designer</a> </li>
              <li> <a href="shop_grid.html">Party</a> </li>
            </ul>
          </li>
          <li> <a href="#">Swimwear</a>
            <ul>
              <li> <a href="shop_grid.html">Swimsuits</a> </li>
              <li> <a href="shop_grid.html">Beach Clothing</a> </li>
              <li> <a href="shop_grid.html">Clothing</a> </li>
              <li> <a href="shop_grid.html">Bikinis</a> </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="shop_grid.html">Computers</a>
        <ul>
          <li> <a href="#" class="">Clothing</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Coats &amp; Jackets</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Raincoats</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Blazers</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Jackets</a> </li>
            </ul>
          </li>
          <li> <a href="#">Dresses</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Casual Dresses</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Evening</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Designer</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Party</a> </li>
            </ul>
          </li>
          <li> <a href="#" class="">Shoes</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Sport Shoes</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Casual Shoes</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Leather Shoes</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">canvas shoes</a> </li>
            </ul>
          </li>
          <li> <a href="#">Jackets</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Coats</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Formal Jackets</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Leather Jackets</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Blazers</a> </li>
            </ul>
          </li>
          <li> <a href="#">Accesories</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Backpacks</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Wallets</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Laptops Bags</a> </li>
              <li class="level2 nav-6-1-1"> <a href="shop_grid.html">Belts</a> </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="shop_grid.html">Apple Store</a>
        <ul>
          <li> <a href="shop_grid.html">Mobiles</a>
            <ul>
              <li> <a href="shop_grid.html">iPhone</a> </li>
              <li> <a href="shop_grid.html">Samsung</a> </li>
              <li> <a href="shop_grid.html">Nokia</a> </li>
              <li> <a href="shop_grid.html">Sony</a> </li>
            </ul>
          </li>
          <li> <a href="shop_grid.html" class="">Music &amp; Audio</a>
            <ul>
              <li> <a href="shop_grid.html">Audio</a> </li>
              <li> <a href="shop_grid.html">Cameras</a> </li>
              <li> <a href="shop_grid.html">Appling</a> </li>
              <li> <a href="shop_grid.html">Car Music</a> </li>
            </ul>
          </li>
          <li> <a href="shop_grid.html">Accessories</a>
            <ul>
              <li> <a href="shop_grid.html">Home &amp; Office</a> </li>
              <li> <a href="shop_grid.html">TV &amp; Home Theater</a> </li>
              <li> <a href="shop_grid.html">Phones &amp; Radio</a> </li>
              <li> <a href="shop_grid.html">All Electronics</a> </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<!-- end mobile menu -->

<!-- Navbar -->
  <nav>
    <div class="container">
      <div class="row">
        <!--Left-->
        <div class="col-md-3 col-sm-4">
          <div class="mm-toggle-wrap">
            <div class="mm-toggle"> <i class="fa fa-align-justify"></i> </div>
            <span class="mm-label">Categories</span>
          </div>
          <div class="mega-container visible-lg visible-md visible-sm">
            <div class="navleft-container">
              <div class="mega-menu-title"><h3>Categories</h3></div>
              <div class="mega-menu-category">
                <ul class="nav">
                  <li> <a href="#"><i class="icon fa fa-camera fa-fw"></i> Camera & Photo</a>
                    <div class="wrap-popup">
                      <div class="popup">
                        <div class="row">
                          <div class="col-md-4 col-sm-6">
                            <ul class="nav">
                              <li><a href="shop_grid.html"><span>Canon</span></a></li>
                              <li><a href="shop_grid.html"><span>Nikon</span></a></li>
                              <li><a href="shop_grid.html"><span>Olympus</span> </a></li>
                              <li><a href="shop_grid.html"><span>ALPA</span> </a></li>
                              <li> <a href="shop_grid.html"><span>Bolex</span></a></li>
                              <li><a href="shop_grid.html"><span>Samsung </span></a></li>
                              <li><a href="shop_grid.html"><span>Panasonic</span></a></li>
                              <li><a href="shop_grid.html"><span>Thomson </span></a></li>
                              <li><a href="shop_grid.html"><span>Bell & Howell</span></a></li>
                            </ul>
                          </div>
                          <div class="col-md-4 col-sm-6 has-sep">
                            <ul class="nav">
                              <li><a href="shop_grid.html"><span>Digital camera</span></a></li>
                              <li><a href="shop_grid.html"><span>High-speed</span></a></li>
                              <li><a href="shop_grid.html"><span>Camera phone</span> </a></li>
                              <li><a href="shop_grid.html"><span>Multiplane</span> </a></li>
                              <li> <a href="shop_grid.html"><span>Pocket camera</span></a></li>
                              <li><a href="shop_grid.html"><span>Video camera</span></a></li>
                              <li><a href="shop_grid.html"><span>Zenith camera</span></a></li>
                              <li><a href="shop_grid.html"><span>Single-lens reflex</span></a></li>
                              <li><a href="shop_grid.html"><span>Light-field</span></a></li>
                            </ul>
                          </div>
                          <div class="col-md-4 has-sep hidden-sm">
                            <div class="custom-menu-right">
                              <div class="box-banner menu-banner">
                                <div class="add-right"><a href="#"><%= image_tag("menu-img4.jpg", alt: "html template")%></a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li> <a href="#"><i class="icon fa fa-desktop fa-fw"></i> Computers</a>
                    <div class="wrap-popup">
                      <div class="popup">
                        <div class="row">
                          <div class="col-md-4 col-sm-6">
                            <h3>Dell</h3>
                            <ul class="nav">
                              <li><a href="shop_grid.html">Dell Inspiron 3558</a></li>
                              <li><a href="shop_grid.html">Dell Adapter </a></li>
                              <li><a href="shop_grid.html">Optical USB Mouse</a></li>
                              <li><a href="shop_grid.html">Laptop Battery</a></li>
                            </ul>
                            <br>
                            <h3>Microsoft</h3>
                            <ul class="nav">
                              <li> <a href="shop_grid.html">Lumia 550 4G</a> </li>
                              <li> <a href="shop_grid.html">Surface Pro 4</a> </li>
                              <li> <a href="shop_grid.html">HTC Desire 620G</a> </li>
                              <li> <a href="shop_grid.html">DMG Flip Cover</a> </li>
                              <li> <a href="shop_grid.html">Silicone Keyboard</a> </li>
                            </ul>
                          </div>
                          <div class="col-md-4 col-sm-6 has-sep">
                            <h3>Apple</h3>
                            <ul class="nav">
                              <li> <a href="shop_grid.html">Apple Macbook Pro</a> </li>
                              <li> <a href="shop_grid.html">Newest Apple Macbook Pro</a> </li>
                              <li> <a href="shop_grid.html">Retina Display Laptop</a> </li>
                              <li> <a href="shop_grid.html">Silicone Keyboard</a> </li>
                            </ul>
                            <br>
                            <h3>Lenovo</h3>
                            <ul class="nav">
                              <li> <a href="shop_grid.html">Lenovo Yoga 300</a> </li>
                              <li> <a href="shop_grid.html">Lenovo IdeaPad</a> </li>
                              <li> <a href="shop_grid.html">Tab 3 A710F Tablet</a> </li>
                              <li> <a href="shop_grid.html">Channel Speakers</a> </li>
                              <li> <a href="shop_grid.html">Accessories</a> </li>
                            </ul>
                          </div>
                          <div class="col-md-4 has-sep hidden-sm">
                            <div class="custom-menu-right">
                              <div class="box-banner media">
                                <div class="add-desc">
                                  <h3>Computer <br>
                                    Services </h3>
                                  <div class="price-sale">2017</div>
                                  <a href="#">Shop Now</a> </div>
                                <div class="add-right"><a href="#"><%= image_tag("menu-img1.jpg", alt: "html template")%></a></div>
                              </div>
                              <div class="box-banner media">
                                <div class="add-desc">
                                  <h3>Save up to</h3>
                                  <div class="price-sale">75 <sup>%</sup><sub>off</sub></div>
                                  <a href="#">Shopping Now</a> </div>
                                <div class="add-right"><a href="#"><%= image_tag("menu-img2.jpg", alt: "html template")%></a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li> <a href="shop_grid.html"><i class="icon fa fa-apple fa-fw"></i> Apple Store</a>
                    <div class="wrap-popup column2">
                      <div class="popup">
                        <div class="row">
                          <div class="col-sm-6">
                            <h3>iPhone</h3>
                            <ul class="nav">
                              <li> <a href="shop_grid.html"> iPhone SE </a> </li>
                              <li> <a href="shop_grid-2.html"> iPhone 6s Plus </a> </li>
                              <li> <a href="shop_grid.html"> iPhone 3G </a> </li>
                              <li> <a href="shop_grid.html"> iPad Pro </a> </li>
                            </ul>
                          </div>
                          <div class="col-sm-6 has-sep">
                            <h3> Watch </h3>
                            <ul class="nav">
                              <li> <a href="shop_grid.html"> Quartz Watches </a> </li>
                              <li> <a href="shop_grid.html"> Lover's Watches</a> </li>
                              <li> <a href="shop_grid.html"> Digital Watches </a> </li>
                              <li> <a href="shop_grid.html"> Sport Watch </a> </li>
                            </ul>
                          </div>
                          <div class="col-sm-12"> <a class="ads1" href="#"><%= image_tag("menu-img3.jpg", alt: "html template", :class => "img-responsive")%></a> </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li> <a href="shop_grid.html"><i class="icon fa fa-headphones fa-fw"></i> Headphones</a>
                    <div class="wrap-popup column1">
                      <div class="popup">
                        <ul class="nav">
                          <li><a href="shop_grid.html"><span>Envent Stereo</span></a></li>
                          <li><a href="shop_grid.html"><span>Sennheiser</span></a></li>
                          <li><a href="shop_grid.html"><span>Philips</span></a></li>
                          <li><a href="shop_grid.html"><span>Sony</span></a></li>
                          <li><a href="shop_grid.html"><span>Avantree</span></a></li>
                          <li><a href="shop_grid.html"><span>Bajaao</span></a></li>
                          <li><a href="shop_grid.html"><span>FiiO</span></a></li>
                          <li><a href="shop_grid.html"><span>Audio-Technica</span></a></li>
                          <li><a href="shop_grid.html"><span>LUXA2</span></a></li>
                          <li><a href="shop_grid.html"><span>Geekria</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="#"><i class="icon fa fa-microphone fa-fw"></i> Accessories</a>
                    <div class="wrap-popup column1">
                      <div class="popup">
                        <ul class="nav">
                          <li> <a href="shop_grid.html"> Vacuum Cleaner </a> </li>
                          <li> <a href="shop_grid.html"> Memore Bluetooth</a> </li>
                          <li> <a href="shop_grid.html"> On-Ear Headphones </a> </li>
                          <li> <a href="shop_grid.html"> Digital MP3 Player </a> </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="nosub"><a href="shop_grid.html"><i class="glyphicon glyphicon-time"></i> Watches</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--Right-->
        <div class="col-md-9 col-sm-8">
          <div class="mtmegamenu">
            <ul>
              <li class="mt-root demo_custom_link_cms">
                <div class="mt-root-item"><a href="index.html">
                  <div class="title title_font"><span class="title-text">Home</span></div>
                  </a></div>
              </li>
              <li class="mt-root">
                <div class="mt-root-item"><a href="contact_us.html">
                  <div class="title title_font"><span class="title-text">Contact Us</span> </div>
                  </a></div>
              </li>
              <li class="mt-root">
                <div class="mt-root-item"><a href="about_us.html">
                  <div class="title title_font"><span class="title-text">About us</span></div>
                  </a></div>
              </li>
              <li class="mt-root">
                <div class="mt-root-item">
                  <div class="title title_font"><span class="title-text">Best Seller</span></div>
                </div>
                <ul class="menu-items col-xs-12">
                  <li class="menu-item depth-1 product menucol-1-3 withimage">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="product-thumbnail">
                          <div class="icon-sale-label sale-left">Sale</div>
                          <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure> <%= image_tag("products/img06.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img06.jpg", alt: "html template", :class => "hover-img")%></figure>
                            </a>
                            <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                              <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                              <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item depth-1 product menucol-1-3 withimage">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="product-thumbnail">
                          <div class="icon-sale-label sale-left">Sale</div>
                          <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure><%= image_tag("products/img02.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img02.jpg", alt: "html template", :class => "hover-img")%> </figure>
                            </a>
                            <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                              <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                              <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item depth-1 product menucol-1-3 withimage">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="icon-sale-label sale-left">Sale</div>
                        <div class="icon-new-label new-right">New</div>
                        <div class="product-thumbnail">
                          <div class="icon-sale-label sale-left">Sale</div>
                          <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure><%= image_tag("products/img03.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img03.jpg", alt: "html template", :class => "hover-img")%></figure>
                            </a>
                            <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                              <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                              <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
<!-- End Nav --> 
  
  <!--Edit home pages, delete slider replace bootstrap-->
<!-- Home Slider Start -->
  
  
  <!-- main container -->
  <div class="main-container col1-layout">
    <div class="container">
      <div class="row"> 
        
        <!-- Home Tabs  -->
        <div class="col-sm-8 col-md-9 col-xs-12">
          <div class="home-tab">
            <ul class="nav home-nav-tabs home-product-tabs">
              <li class="active"><a href="#featured" data-toggle="tab" aria-expanded="false">Featured products</a></li>
              <li class="divider"></li>
              <li> <a href="#top-sellers" data-toggle="tab" aria-expanded="false">Top Sellers</a> </li>
            </ul>
            <div id="productTabContent" class="tab-content">
              <div class="tab-pane active in" id="featured">
                <div class="featured-pro">
                  <div class="slider-items-products">
                    <div id="featured-slider" class="product-flexslider hidden-buttons">
                      <div class="slider-items slider-width-col4 owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                          <div class="owl-wrapper" style="width: 3300px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                            <div class="owl-item" style="width: 275px;">
                              <div class="product-item">
                                <div class="item-inner">
                                  <div class="product-thumbnail">
                                    <div class="icon-sale-label sale-left">Sale</div>
                                    <div class="icon-new-label new-right">New</div>
                                    <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                      <figure><%= image_tag("products/img01.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img01.jpg", alt: "html template", :class => "hover-img")%> </figure>
                                      </a>
                                      <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                                    </div>
                                    <div class="pr-info-area">
                                      <div class="pr-button">
                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                      <div class="item-content">
                                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                        <div class="item-price">
                                          <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="owl-item" style="width: 275px;">
                              <div class="product-item">
                                <div class="item-inner">
                                  <div class="product-thumbnail">
                                    <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                      <figure><%= image_tag("products/img02.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img02.jpg", alt: "html template", :class => "hover-img")%></figure>
                                      </a>
                                      <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                                    </div>
                                    <div class="pr-info-area">
                                      <div class="pr-button">
                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                      <div class="item-content">
                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                        <div class="item-price">
                                          <div class="price-box">
                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="owl-item" style="width: 275px;">
                              <div class="product-item">
                                <div class="item-inner">
                                  <div class="product-thumbnail">
                                    <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                      <figure> <%= image_tag("products/img03.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img03.jpg", alt: "html template", :class => "hover-img")%></figure>
                                      </a>
                                      <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                                    </div>
                                    <div class="pr-info-area">
                                      <div class="pr-button">
                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                      <div class="item-content">
                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                        <div class="item-price">
                                          <div class="price-box">
                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="owl-item" style="width: 275px;">
                              <div class="product-item">
                                <div class="item-inner">
                                  <div class="icon-sale-label sale-left">Sale</div>
                                  <div class="icon-new-label new-right">New</div>
                                  <div class="product-thumbnail">
                                    <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                      <figure> <%= image_tag("products/img04.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img04.jpg", alt: "html template", :class => "hover-img")%></figure>
                                      </a>
                                      <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                                    </div>
                                    <div class="pr-info-area">
                                      <div class="pr-button">
                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                      <div class="item-content">
                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                        <div class="item-price">
                                          <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="owl-item" style="width: 275px;">
                              <div class="product-item">
                                <div class="item-inner">
                                  <div class="product-thumbnail">
                                    <div class="icon-new-label new-left">New</div>
                                    <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                      <figure><%= image_tag("products/img05.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img05.jpg", alt: "html template", :class => "hover-img")%></figure>
                                      </a>
                                      <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                                    </div>
                                    <div class="pr-info-area">
                                      <div class="pr-button">
                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                      <div class="item-content">
                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                        <div class="item-price">
                                          <div class="price-box">
                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="owl-item" style="width: 275px;">
                              <div class="product-item">
                                <div class="item-inner">
                                  <div class="product-thumbnail">
                                    <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                      <figure> <%= image_tag("products/img06.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img06.jpg", alt: "html template", :class => "hover-img")%></figure>
                                      </a>
                                      <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                                    </div>
                                    <div class="pr-info-area">
                                      <div class="pr-button">
                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                      <div class="item-content">
                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                        <div class="item-price">
                                          <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="top-sellers">
                <div class="top-sellers-pro">
                  <div class="slider-items-products">
                    <div id="top-sellers-slider" class="product-flexslider hidden-buttons">
                      <div class="slider-items slider-width-col4 ">
                        <div class="product-item">
                          <div class="item-inner">
                            <div class="product-thumbnail">
                              <div class="icon-sale-label sale-left">Sale</div>
                              <div class="icon-new-label new-right">New</div>
                              <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                <figure> <%= image_tag("products/img03.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img03.jpg", alt: "html template", :class => "hover-img")%></figure>
                                </a>
                                <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                              </div>
                              <div class="pr-info-area">
                                <div class="pr-button">
                                  <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                  <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                  <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                </div>
                              </div>
                            </div>
                            <div class="item-info">
                              <div class="info-inner">
                                <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                <div class="item-content">
                                  <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                  <div class="item-price">
                                    <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="product-item">
                          <div class="item-inner">
                            <div class="product-thumbnail">
                              <div class="icon-sale-label sale-left">Sale</div>
                              <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                <figure> <%= image_tag("products/img08.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img08.jpg", alt: "html template", :class => "hover-img")%></figure>
                                </a>
                                <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                              </div>
                              <div class="pr-info-area">
                                <div class="pr-button">
                                  <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                  <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                  <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                </div>
                              </div>
                            </div>
                            <div class="item-info">
                              <div class="info-inner">
                                <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                <div class="item-content">
                                  <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                  <div class="item-price">
                                    <div class="price-box">
                                      <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                                      <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="product-item">
                          <div class="item-inner">
                            <div class="product-thumbnail">
                              <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                <figure> <%= image_tag("products/img01.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img01.jpg", alt: "html template", :class => "hover-img")%></figure>
                                </a>
                                <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                              </div>
                              <div class="pr-info-area">
                                <div class="pr-button">
                                  <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                  <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                  <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                </div>
                              </div>
                            </div>
                            <div class="item-info">
                              <div class="info-inner">
                                <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                <div class="item-content">
                                  <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                  <div class="item-price">
                                    <div class="price-box">
                                      <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                                      <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="product-item">
                          <div class="item-inner">
                            <div class="product-thumbnail">
                              <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                <figure><%= image_tag("products/img04.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img04.jpg", alt: "html template", :class => "hover-img")%></figure>
                                </a>
                                <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                              </div>
                              <div class="pr-info-area">
                                <div class="pr-button">
                                  <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                  <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                  <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                </div>
                              </div>
                            </div>
                            <div class="item-info">
                              <div class="info-inner">
                                <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                <div class="item-content">
                                  <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                  <div class="item-price">
                                    <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="product-item">
                          <div class="item-inner">
                            <div class="product-thumbnail">
                              <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                <figure> <%= image_tag("products/img05.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img05.jpg", alt: "html template", :class => "hover-img")%></figure>
                                </a>
                                <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                              </div>
                              <div class="pr-info-area">
                                <div class="pr-button">
                                  <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                  <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                  <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                </div>
                              </div>
                            </div>
                            <div class="item-info">
                              <div class="info-inner">
                                <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                <div class="item-content">
                                  <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                  <div class="item-price">
                                    <div class="price-box">
                                      <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                                      <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="product-item">
                          <div class="item-inner">
                            <div class="product-thumbnail">
                              <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                                <figure> <%= image_tag("products/img06.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img06.jpg", alt: "html template", :class => "hover-img")%></figure>
                                </a>
                                <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                              </div>
                              <div class="pr-info-area">
                                <div class="pr-button">
                                  <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                  <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                  <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                </div>
                              </div>
                            </div>
                            <div class="item-info">
                              <div class="info-inner">
                                <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                                <div class="item-content">
                                  <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                  <div class="item-price">
                                    <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Hot deal -->
        <div class="col-md-3 col-sm-4 col-xs-12 hot-products">
          <div class="hot-deal"> <span class="title-text">Hot deal</span>
            <ul class="products-grid">
              <li class="item">
                <div class="product-item">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      <div class="icon-hot-label hot-right">Hot</div>
                      <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                        <figure> <%= image_tag("products/img15.jpg", alt: "html template", :class => "first-img")%><%= image_tag("products/img15.jpg", alt: "html template", :class => "hover-img")%></figure>
                        </a>
                        <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                      </div>
                      <div class="jtv-box-timer">
                        <div class="countbox_1 jtv-timer-grid"></div>
                      </div>
                      <div class="pr-info-area">
                        <div class="pr-button">
                          <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                          <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                          <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                        <div class="item-content">
                          <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                          <div class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end main container --> 
  
  <!-- top banner -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="jtv-banner-box banner-inner">
          <div class="image"> <a class="jtv-banner-opacity" href="#"><%= image_tag("top-banner1.jpg", alt: "html template")%></a> </div>
          <div class="jtv-content-text">
            <h3 class="title">Save up 25%</h3>
            <span class="sub-title">Nice & Cleans</span> </div>
        </div>
      </div>
      <div class="col-sm-5 col-xs-12">
        <div class="jtv-banner-box">
          <div class="image"> <a class="jtv-banner-opacity" href="#"><%= image_tag("top-banner2.jpg", alt: "html template")%></a> </div>
          <div class="jtv-content-text">
            <h3 class="title">Powerful Stereo <span>Sound</span></h3>
            <span class="sub-title">You're future in the sound !</span> <a href="#" class="button">Buy Now</a> </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="jtv-banner-box banner-inner">
          <div class="image"> <a class="jtv-banner-opacity" href="#"><%= image_tag("top-banner3.jpg", alt: "html template")%></a> </div>
          <div class="jtv-content-text">
            <h3 class="title">New Arrival</h3>
          </div>
        </div>
        <div class="jtv-banner-box banner-inner">
          <div class="image "> <a class="jtv-banner-opacity" href="#"><%= image_tag("top-banner4.jpg", alt: "html template")%></a> </div>
          <div class="jtv-content-text">
            <h3 class="title">Accessories</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--special-products-->
  <div class="container">
    <div class="special-products">
      <div class="page-header">
        <h2>special products</h2>
      </div>
      <div class="special-products-pro">
        <div class="slider-items-products">
          <div id="special-products-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 owl-carousel owl-theme" style="opacity: 1; display: block;">
              <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 3348px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                  <div class="owl-item" style="width: 279px;">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="product-thumbnail">
                          <div class="icon-sale-label sale-left">Sale</div>
                          <div class="icon-new-label new-right">New</div>
                          <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure><%= image_tag("products/img08.jpg", alt: "html template", :class => "fisrt-img")%> <%= image_tag("products/img08.jpg", alt: "html template", :class => "hover-img")%></figure>
                            </a>
                            <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                              <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                              <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 279px;">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="product-thumbnail">
                          <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure> <%= image_tag("products/img13.jpg", alt: "html template", :class => "fisrt-img")%> <%= image_tag("products/img13.jpg", alt: "html template", :class => "hover-img")%></figure>
                            </a>
                            <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                              <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                              <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box">
                                  <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                                  <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 279px;">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="product-thumbnail">
                          <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure> <%= image_tag("products/img09.jpg", alt: "html template", :class => "fisrt-img")%> <%= image_tag("products/img09.jpg", alt: "html template", :class => "hover-img")%></figure>
                            </a>
                            <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                              <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                              <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box">
                                  <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                                  <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 279px;">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="icon-sale-label sale-left">Sale</div>
                        <div class="icon-new-label new-right">New</div>
                        <div class="product-thumbnail">
                          <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure><%= image_tag("products/img12.jpg", alt: "html template", :class => "fisrt-img")%> <%= image_tag("products/img12.jpg", alt: "html template", :class => "hover-img")%></figure>
                            </a>
                            <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                              <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                              <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 279px;">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="product-thumbnail">
                          <div class="icon-new-label new-left">New</div>
                          <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure> <%= image_tag("products/img05.jpg", alt: "html template", :class => "fisrt-img")%> <%= image_tag("products/img05.jpg", alt: "html template", :class => "hover-img")%></figure>
                            </a>
                            <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                              <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                              <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box">
                                  <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                                  <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 279px;">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="product-thumbnail">
                          <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure> <%= image_tag("products/img06.jpg", alt: "html template", :class => "fisrt-img")%> <%= image_tag("products/img06.jpg", alt: "html template", :class => "hover-img")%></figure>
                            </a>
                            <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to Cart</span> </button>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                              <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                              <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-controls clickable">
                <div class="owl-buttons">
                  <div class="owl-prev">
                    <a class="flex-prev"></a>
                  </div>
                  <div class="owl-next">
                    <a class="flex-next"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <!-- category area start -->
  <div class="jtv-category-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="jtv-single-cat">
            <h2 class="cat-title">Top Rated</h2>
            <div class="jtv-product">
              <div class="product-img"> <a href="single_product.html"><%= image_tag("products/img10.jpg", alt: "html template")%><%= image_tag("products/img10.jpg", alt: "html template", :class => "secondary-img")%></a></div>
              <div class="jtv-product-content">
                <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                <div class="jtv-product-action">
                  <div class="jtv-extra-link">
                    <div class="button-cart">
                      <button><i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
                </div>
              </div>
            </div>
            <div class="jtv-product jtv-cat-margin">
              <div class="product-img"> <a href="single_product.html"> <%= image_tag("products/img07.jpg", alt: "html template")%><%= image_tag("products/img07.jpg", alt: "html template", :class => "secondary-img")%></a> </div>
              <div class="jtv-product-content">
                <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
                <div class="price-box">
                  <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                  <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                </div>
                <div class="jtv-product-action">
                  <div class="jtv-extra-link">
                    <div class="button-cart">
                      <button><i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
                </div>
              </div>
            </div>
            <div class="jtv-product jtv-cat-margin">
              <div class="product-img"> <a href="single_product.html"> <%= image_tag("products/img08.jpg", alt: "html template")%><%= image_tag("products/img08.jpg", alt: "html template", :class => "secondary-img")%> </a> </div>
              <div class="jtv-product-content">
                <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
                <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
                <div class="jtv-product-action">
                  <div class="jtv-extra-link">
                    <div class="button-cart">
                      <button><i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="jtv-single-cat">
            <h2 class="cat-title">ON SALE</h2>
            <div class="jtv-product">
              <div class="product-img"> <a href="single_product.html"> <%= image_tag("products/img12.jpg", alt: "html template")%><%= image_tag("products/img12.jpg", alt: "html template", :class => "secondary-img")%></a> </div>
              <div class="jtv-product-content">
                <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
                <div class="price-box">
                  <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $99.00 </span> </p>
                  <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $119.00 </span> </p>
                </div>
                <div class="jtv-product-action">
                  <div class="jtv-extra-link">
                    <div class="button-cart">
                      <button><i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
                </div>
              </div>
            </div>
            <div class="jtv-product jtv-cat-margin">
              <div class="product-img"> <a href="single_product.html"> <%= image_tag("products/img05.jpg", alt: "html template")%><%= image_tag("products/img05.jpg", alt: "html template", :class => "secondary-img")%> </a> </div>
              <div class="jtv-product-content">
                <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
                <div class="price-box"> <span class="regular-price"> <span class="price">$189.00</span> </span> </div>
                <div class="jtv-product-action">
                  <div class="jtv-extra-link">
                    <div class="button-cart">
                      <button><i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
                </div>
              </div>
            </div>
            <div class="jtv-product jtv-cat-margin">
              <div class="product-img"> <a href="single_product.html"> <%= image_tag("products/img01.jpg", alt: "html template")%><%= image_tag("products/img01.jpg", alt: "html template", :class => "secondary-img")%> </a> </div>
              <div class="jtv-product-content">
                <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
                <div class="price-box"> <span class="regular-price"> <span class="price">$88.99</span> </span> </div>
                <div class="jtv-product-action">
                  <div class="jtv-extra-link">
                    <div class="button-cart">
                      <button><i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- service area start -->
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="jtv-service-area"> 
            
            <!-- jtv-single-service start -->
            
            <div class="jtv-single-service">
              <div class="service-icon"> <%= image_tag("customer-service-icon.png", alt: "html template")%></div>
              <div class="service-text">
                <h2>24/7 customer service</h2>
                <p><span>Call us 24/7 at 000 - 123 - 456</span></p>
              </div>
            </div>
            <div class="jtv-single-service">
              <div class="service-icon"> <%= image_tag("shipping-icon.png", alt: "html template")%></div>
              <div class="service-text">
                <h2>free shipping worldwide</h2>
                <p><span>On order over $199 - 7 days a week</span></p>
              </div>
            </div>
            <div class="jtv-single-service">
              <div class="service-icon"> <%= image_tag("guaratee-icon.png", alt: "html template")%></div>
              <div class="service-text">
                <h2>money back guaratee!</h2>
                <p><span>Send within 30 days</span></p>
              </div>
            </div>
            
            <!-- jtv-single-service end --> 
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- category-area end --> 
  
  <!--Newsletter Popup Start--> 
  <div id="myModal" class="modal fade">
      <div class="modal-dialog newsletter-popup">
          <div class="modal-content"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          
              <div class="modal-body"> 
              <h4 class="modal-title">NEWSLETTER SIGNUP</h4>
                  <form id="newsletter-form" method="post" action="#">
            <div class="content-subscribe">
              <div class="form-subscribe-header">
                <label>Subscribe to be the first to know about Sales, Events, and Exclusive Offers!</label>
              </div>
              <div class="input-box">
                <input type="text" class="input-text newsletter-subscribe" title="Sign up for our newsletter" name="email" placeholder="Enter your email address">
              </div>
              <div class="actions">
                <button class="button-subscribe" title="Subscribe" type="submit">Subscribe</button>
              </div>
            </div>
          </form>
          <div class="subscribe-bottom">
            <input name="notshowpopup" id="notshowpopup" type="checkbox">
            Don’t show this popup again </div>
              </div>
              
          </div>
      </div>
  </div>
 <!--End of Newsletter Popup-->   

  <script type="text/javascript">
    /* <![CDATA[ */   
    var mega_menu = '0';
    
    /* ]]> */
    </script> 



<!-- Revolution Slider --> 
  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery('.tp-banner').revolution(
      {
          delay:9000,
          startwidth:1170,
          startheight:530,
          hideThumbs:10,

          navigationType:"bullet",							
          navigationStyle:"preview1",

          hideArrowsOnMobile:"on",
          
          touchenabled:"on",
          onHoverStop:"on",
          spinner:"spinner4"
      });
    });
  </script>
<!-- End Revolution Slider --> 

<!-- Hot Deals Timer 1--> 
  <script type="text/javascript">
      var dthen1 = new Date("12/25/16 11:59:00 PM");
      start = "08/04/15 03:02:11 AM";
      start_date = Date.parse(start);
      var dnow1 = new Date(start_date);
      if(CountStepper>0)
          ddiff= new Date((dnow1)-(dthen1));
      else
          ddiff = new Date((dthen1)-(dnow1));
      gsecs1 = Math.floor(ddiff.valueOf()/1000);
      
      var iid1 = "countbox_1";
      CountBack_slider(gsecs1,"countbox_1", 1);
  </script>
<!-- End Hot Deals Timer 1-->