<table class="table table-vcenter table-striped">
  <thead>
  <tr>
    <th><%= I18n.t("document.name") %></th>
    <th><%= I18n.t("document.name_file") %></th>
    <th><%= I18n.t("document.size_file") %></th>
    <th style="width: 150px;" class="text-center"><%= I18n.t("document.download") %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @documents %>
  </tbody>
</table>
