<tr id="el-question-<%= question.id %>">
  <td><%= link_to change_status_dashboard_event_question_path(question.event_id, question, question: {active: true}), method: :post,
                  title: I18n.t("note.change"),
                  data: {confirm: "Change?"}, remote: true do %>
      <%= active_button question %>
    <% end %></td>
  <td><%= question.title %></td>
  <td><%= strftime question.starts_on %></td>
  <td><%= question.intend || "Không" %></td>
  <td class="text-center">
    <div class="btn-group btn-group-xs">

      <%= link_to lock_answer_dashboard_event_question_path(question.event_id, question), method: :post,
                  title: "Lock answer",class: "btn btn-danger",
                  data: {confirm: I18n.t("note.confirm")}, remote: true do %>
        <%= lock_answer_button question %>
      <% end %>

      <%= link_to edit_dashboard_event_question_path(question.event_id, question),
                  title: "edit", class: "btn btn-default",
                  remote: true do %>
        <%= fa_icon "edit" %>
      <% end %>

      <%= link_to dashboard_event_question_path(question.event_id, question), method: :delete,
                  title: "Delete", class: "btn btn-danger",
                  data: {confirm: t(".confirm")} do %>
        <%= fa_icon "trash" %>
      <% end %>
    </div>
  </td>
</tr>

