<%= form_tag votes_path, method: :post, remote: true, id: 'voting_form' do %>
  <%= hidden_field_tag 'poll[id]', @poll.id %>

  <%= render partial: 'polls/vote_option', collection: @poll.options, as: :option %>

  <p><b><%= I18n.t("votes.total") %>: <%= @poll.votes_summary %></b></p>

  <% if @is_voted %>
    <p class="text-center"><%= I18n.t("votes.voted") %></p>
  <% elsif @poll.stop_vote  %>
    <p class="text-center text-danger"> <%= I18n.t("votes.unlock") %></p>
  <% else %>
    <div class="form-group text-center">
      <%= submit_tag 'Vote', class: 'btn btn btn-primary' %>
    </div>
  <% end %>
<% end %>
