<tr id="el-contact-<%= contact.id %>">
  <td><%= contact.name %></td>
  <td><%= contact.email %></td>
  <td><%= contact.phone %></td>
  <td class="text-center">
    <div class="btn-group btn-group-xs">
      <%= link_to edit_dashboard_contact_path(contact),
                  title: "edit", class: "btn btn-default",
                  remote: true do %>
        <%= fa_icon "edit" %>
      <% end %>
      <%= link_to dashboard_contact_path(contact), method: :delete,
                  title: "Delete", class: "btn btn-danger",
                  data: {confirm: t(".confirm")} do %>
        <%= fa_icon "trash" %>
      <% end %>
    </div>
  </td>
</tr>
