<!-- NAVBAR -->
<div class="navbar navbar-boxed navbar-expand-md navbar-dark mb-7">
  <div class="container">
    <div class="dropdown flex-grow-1 flex-md-grow-0">
      <!-- Toggle -->
      <button class="btn btn-lg btn-block btn-dark" data-toggle="dropdown">
        <span class="navbar-toggler-icon mr-4"></span> <%= t "layout.header.category" %>
      </button>
      <!-- Menu -->
      <div class="dropdown-menu dropdown-menu-lg w-100">
        <form>
          <a class="dropdown-item" data-toggle="collapse" href="#womensClothes">
            <span class="mr-4">
              <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0718 9.083V7.73464C13.2619 7.26561 13.6976 5.99402 13.6288 4.32713C13.5845 3.25273 14.2062 1.08481 14.2125 1.06303L14.3347 0.63955L11.628 0L11.5345 0.399283C11.53 0.418288 11.0675 2.30121 9.15478 2.6492L8.89009 2.69734L8.83118 2.96686C8.69627 3.58409 8.58635 3.99893 8.50147 4.27659C8.4166 3.99897 8.30668 3.58409 8.17177 2.96686L8.11286 2.69734L7.84817 2.6492C5.94999 2.30387 5.48687 0.475471 5.46841 0.399241L5.37489 0L2.66811 0.639591L2.79042 1.06311C2.79672 1.08485 3.41849 3.2514 3.37403 4.32717C3.3053 5.99406 3.741 7.26569 3.93111 7.73469V9.07557L0 18.1861L0.228995 18.387C0.304061 18.4529 2.1407 20 8.49966 20C14.8589 20 16.6959 18.4529 16.7709 18.3871L17 18.1861L13.0718 9.083ZM4.73875 8.74846V8.15953H12.2642V8.74846H4.73875ZM4.81095 0.984845C4.90229 1.21984 5.04919 1.53613 5.27257 1.86491C5.80753 2.6524 6.55359 3.18202 7.44182 3.40855C7.55194 3.89187 7.65648 4.29069 7.75323 4.59669C7.90817 5.08665 8.09364 5.56502 8.50151 5.56502C8.90943 5.56502 9.09482 5.08669 9.24979 4.59669C9.34655 4.29074 9.45109 3.89187 9.5612 3.40855C10.4494 3.18202 11.1955 2.6524 11.7304 1.86491C11.9538 1.53613 12.1007 1.21984 12.192 0.984887L13.3226 1.25204C13.1335 1.97662 12.7846 3.4542 12.822 4.36232C12.8798 5.76587 12.5333 6.87076 12.3591 7.32959H4.64297C4.46873 6.87334 4.12275 5.77446 4.18098 4.36232C4.21849 3.4542 3.86953 1.97658 3.68043 1.252L4.81095 0.984845ZM14.6487 18.46C12.6953 19.0468 10.2267 19.17 8.49986 19.17C6.77297 19.17 4.30446 19.0468 2.35116 18.46C1.67225 18.2561 1.24225 18.0508 1.00074 17.9143L4.59766 9.57839H6.09584L5.30302 13.1958L6.09091 13.3782L6.92367 9.57843H10.0417L10.8744 13.3782L11.6623 13.1958L10.8695 9.57839H12.4021L15.9993 17.9143C15.7577 18.0508 15.3277 18.2561 14.6487 18.46Z" fill="#1F1F1F"/>
              </svg>
            </span> <%= t "layout.header.branch.apple" %>
          </a>
          <a class="dropdown-item " data-toggle="collapse" href="#mensClothes">
            <span class="mr-4">
              <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9988 18.5701L17.8076 3.94847C17.7932 3.80176 17.6919 3.67842 17.5513 3.63636L12.9129 2.07948L13.393 1.4589C13.5168 1.30176 13.4904 1.07353 13.3342 0.949102C13.3252 0.94198 13.316 0.935311 13.3064 0.929051L12.2668 0.254037C12.2679 0.238341 12.2679 0.222555 12.2668 0.206859C12.2071 0.0808383 12.0808 0.000408274 11.9419 0H7.17357C7.13138 0.00848303 7.09105 0.0244511 7.05445 0.0471784L5.70444 0.929051C5.53713 1.03806 5.48944 1.26279 5.59786 1.43096C5.60404 1.44057 5.61072 1.44987 5.61781 1.4589L6.1015 2.07948L1.45948 3.63636C1.32204 3.68254 1.22539 3.80684 1.21402 3.9521L0.00117307 18.5665C-0.0147546 18.7663 0.133377 18.9413 0.332089 18.9573C0.342061 18.9581 0.352122 18.9584 0.362139 18.9584H3.36899V19.6371C3.36899 19.8375 3.53061 20 3.72995 20H15.2809C15.4802 20 15.6418 19.8375 15.6418 19.6371V18.9621H18.6379C18.8372 18.9627 18.9993 18.8008 19 18.6003C19 18.5902 18.9996 18.5802 18.9988 18.5701ZM11.9492 0.929051L12.5845 1.32825L10.4187 4.10815L9.99633 3.24442C10.0577 3.22423 10.1125 3.1879 10.1552 3.13918L11.9492 0.929051ZM7.16635 0.845582L9.01089 3.13555C9.02334 3.14739 9.03661 3.15827 9.0506 3.16821L8.58856 4.10452L6.42276 1.32462L7.16635 0.845582ZM3.36899 18.2363H0.751983L0.842224 17.1475H3.36899V18.2363ZM9.14445 19.2778H4.09092V8.32517C4.09092 8.12475 3.9293 7.96226 3.72995 7.96226C3.53061 7.96226 3.36899 8.12475 3.36899 8.32517V16.4144H0.903589L1.92512 4.24605L6.58159 2.68554L8.38642 5.00817C8.46276 5.10665 8.58414 5.15873 8.70768 5.14607C8.83041 5.13292 8.93797 5.05766 8.99284 4.94647L9.15167 4.62348L9.14445 19.2778ZM9.58483 2.69643L8.00018 0.72945H11.1695L9.59565 2.68191L9.58483 2.69643ZM15.2809 7.96226C15.0815 7.96226 14.9199 8.12475 14.9199 8.32517V19.2742H9.86638V17.3798H10.2815C10.4808 17.3798 10.6425 17.2173 10.6425 17.0169C10.6425 16.8165 10.4808 16.654 10.2815 16.654H9.86638V13.943H10.2815C10.4808 13.943 10.6425 13.7805 10.6425 13.5801C10.6425 13.3797 10.4808 13.2172 10.2815 13.2172H9.86638V10.5063H10.2815C10.4808 10.5063 10.6425 10.3438 10.6425 10.1433C10.6425 9.94293 10.4808 9.78044 10.2815 9.78044H9.86638V7.0695H10.2815C10.4808 7.0695 10.6425 6.907 10.6425 6.70659C10.6425 6.50617 10.4808 6.34368 10.2815 6.34368H9.86638V4.61985L10.0252 4.94284C10.0801 5.05403 10.1876 5.12929 10.3104 5.14244H10.3465C10.4576 5.14303 10.5627 5.09218 10.6316 5.00454L12.4365 2.68191L17.0857 4.24605L18.0964 16.4108L15.6418 16.4217V8.32517C15.6418 8.12475 15.4802 7.96226 15.2809 7.96226ZM15.6418 18.2363V17.1475H18.1686L18.248 18.2363H15.6418Z" fill="#1F1F1F"/>
                <path d="M1.36563 17.9169C1.49521 17.9169 1.60025 17.8113 1.60025 17.681C1.60025 17.5507 1.49521 17.4451 1.36563 17.4451C1.23604 17.4451 1.131 17.5507 1.131 17.681C1.131 17.8113 1.23604 17.9169 1.36563 17.9169Z" fill="#1F1F1F"/>
                <path d="M17.6452 17.9169C17.7748 17.9169 17.8798 17.8113 17.8798 17.681C17.8798 17.5507 17.7748 17.4451 17.6452 17.4451C17.5156 17.4451 17.4106 17.5507 17.4106 17.681C17.4106 17.8113 17.5156 17.9169 17.6452 17.9169Z" fill="#1F1F1F"/>
              </svg>
            </span> <%= t "layout.header.branch.samsung" %>
          </a>
          <a class="dropdown-item" data-toggle="collapse" href="#girlsClothes">
            <span class="mr-4">
              <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.8128 2.46322V0H4.15V2.54819L0 12.1176L0.210798 12.3016C0.290257 12.371 2.23431 14 8.99967 14C15.7653 14 17.7097 12.371 17.7892 12.3016L18 12.1176L13.8128 2.46322ZM4.8933 0.760031H13.0695V2.17259H4.8933V0.760031ZM15.5934 12.4793C13.4999 13.108 10.8522 13.24 9 13.24C7.14749 13.24 4.4998 13.108 2.40645 12.4793C1.64001 12.2491 1.16976 12.0173 0.919753 11.8717L4.79641 2.93262H6.50814L5.64566 6.84822L6.37082 7.01524L7.27006 2.93262H10.6928L11.592 7.01524L12.3172 6.84822L11.4547 2.93262H13.2033L17.0802 11.8717C16.8302 12.0173 16.3599 12.2491 15.5934 12.4793Z" fill="#1F1F1F"/>
              </svg>
            </span> <%= t "layout.header.branch.huawei" %>
          </a>
          <a class="dropdown-item" data-toggle="collapse" href="#boysClothes">
            <span class="mr-4">
              <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.5003 4.45235C9.28169 4.45235 9.10427 4.63346 9.10427 4.85731C9.10427 5.08085 9.28169 5.26196 9.5003 5.26196C9.71891 5.26196 9.89603 5.08085 9.89603 4.85731C9.89603 4.6335 9.71887 4.45235 9.5003 4.45235Z" fill="#1F1F1F"/>
                <path d="M9.5003 5.66662C9.28169 5.66662 9.10427 5.84773 9.10427 6.07158C9.10427 6.29511 9.28169 6.47623 9.5003 6.47623C9.71891 6.47623 9.89603 6.29511 9.89603 6.07158C9.89603 5.84777 9.71887 5.66662 9.5003 5.66662Z" fill="#1F1F1F"/>
                <path d="M14.25 1.96605L11.875 0H7.1253L4.7503 1.96605L0 4.04769L1.58353 8.90477L3.95853 8.09516V17H15.0421V8.09516L17.4171 8.90477L19 4.04769L14.25 1.96605ZM12.8816 1.87445L10.5744 3.31966L10.0279 2.29869L11.839 1.01179L12.8816 1.87445ZM10.7362 0.809538L9.5003 1.68795L8.26411 0.809576L10.7362 0.809538ZM7.16126 1.01171L8.97238 2.29861L8.42587 3.31959L6.119 1.87438L7.16126 1.01171ZM16.9161 7.88088L14.25 6.97222V16.1901H4.7503V6.97218L2.08421 7.8808L0.981654 4.49826L5.57713 2.48417L8.7213 4.45379L9.5003 2.99849L10.2793 4.45383L13.4232 2.48421L18.0189 4.4983L16.9161 7.88088Z" fill="#1F1F1F"/>
              </svg>
            </span> <%= t "layout.header.branch.dell" %>
          </a>
          <a class="dropdown-item" data-toggle="collapse" href="#mensShoes">
            <span class="mr-4">
              <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8655 0.396077C18.5871 0.401632 18.3109 0.449055 18.0448 0.536992C17.9004 0.587351 17.8053 0.735403 17.8127 0.898313V1.84136C17.1609 2.29586 16.3924 2.51834 15.6163 2.47729C15.3909 2.47729 15.2127 2.47729 15.1084 2.452L12.9086 0.215416C12.7404 0.0621255 12.5231 -0.0143843 12.3031 0.00223646C11.1091 0.00223646 8.38118 1.44752 6.94155 2.35444C5.23284 3.4384 1.76833 4.0671 1.7347 4.07433L1.66406 4.09601C-0.0883745 4.87646 -0.132101 6.43014 0.0999873 7.17447C0.584346 9.84463 6.06365 10 7.31155 10H19.3263C19.5121 10 19.6627 9.83822 19.6627 9.63868V7.71283C19.8381 7.49545 19.9544 7.23047 19.9991 6.94683C20.0003 6.92881 20.0003 6.91066 19.9991 6.89264V1.47281C19.989 0.79353 19.5618 0.396077 18.8655 0.396077ZM5.46157 3.83224L5.90556 4.69941C5.99844 4.87402 6.20551 4.93468 6.36806 4.83491C6.53061 4.73514 6.58707 4.5127 6.49419 4.33809L6.10065 3.56848C6.38656 3.44924 6.65901 3.32278 6.91128 3.18548L7.473 4.10685C7.57261 4.27531 7.78048 4.32513 7.93726 4.21813C8.09405 4.11114 8.14047 3.88784 8.04086 3.71942C8.03889 3.71603 8.03683 3.71274 8.03472 3.70944L7.50327 2.83865C7.74545 2.69051 7.99436 2.54237 8.25336 2.39784L8.92608 3.4529C9.02404 3.62245 9.23141 3.67462 9.38925 3.56938C9.54708 3.46415 9.59565 3.24139 9.49768 3.07184C9.49154 3.06118 9.48486 3.05089 9.47771 3.04099L8.84535 2.06543C9.14471 1.90645 9.44744 1.75108 9.74007 1.61016L10.5272 2.83865C10.6302 3.00468 10.8391 3.04949 10.9936 2.93874C11.1482 2.828 11.1899 2.60366 11.0868 2.43763C11.0853 2.43519 11.0837 2.43276 11.0822 2.43036L10.3826 1.3464C10.9874 1.04076 11.6333 0.839554 12.2964 0.750217C12.3444 0.743216 12.3931 0.743216 12.4411 0.750217L13.7865 2.10517C12.4585 4.01814 10.6076 5.43795 8.49222 6.16642C7.56159 5.84083 6.6025 5.61807 5.62979 5.50159C4.76476 5.43633 3.94084 5.0798 3.27527 4.48267C3.94795 4.32364 4.71149 4.10685 5.46157 3.83224ZM1.8827 4.78974C1.96679 4.78974 2.18206 4.73193 2.47805 4.6669C3.31076 5.57535 4.42255 6.12758 5.6062 6.22058C6.71283 6.27839 9.04717 7.08052 10.6516 7.66586H9.17835C3.08687 7.69115 1.25707 7.17447 0.712163 6.81314C0.6348 6.48795 0.527165 5.40038 1.8827 4.78974ZM18.99 9.27374H7.473C5.99302 9.29542 2.4646 9.04611 1.19989 7.80317C2.24933 8.10306 4.43231 8.4138 9.19853 8.4138C10.3152 8.4138 11.4421 8.4138 12.5117 8.37044C13.5208 8.34515 14.4727 8.31263 15.3236 8.2765C17.3889 8.19339 18.8319 8.10306 18.8487 8.09945C18.8958 8.10284 18.9429 8.10284 18.99 8.09945V9.27374ZM19.3263 6.86012C19.3062 6.9649 19.2019 7.38042 18.8218 7.38042C18.7982 7.38042 17.5638 7.45991 15.7508 7.5394C16.4 5.06074 18.4585 4.24054 19.3263 4.00568V6.86012ZM15.0445 7.56831C14.2809 7.59721 13.44 7.62612 12.5588 7.6478C12.2594 7.52495 10.988 7.0191 9.5618 6.5277C11.4256 5.69282 13.0503 4.3427 14.2708 2.61459L14.7115 3.06985C14.7616 3.12039 14.825 3.15318 14.8931 3.1638C15.1284 3.19668 15.3655 3.2124 15.6028 3.21077C16.4101 3.21077 17.5436 3.04456 18.361 2.25688C18.4314 2.18859 18.4718 2.09144 18.472 1.9895V1.16208C18.596 1.13498 18.7221 1.12044 18.8487 1.11872C19.3095 1.11872 19.3162 1.33551 19.3196 1.48004L19.3263 3.26497C18.435 3.4926 15.7407 4.42481 15.0445 7.56831Z" fill="#1F1F1F"/>
              </svg>
            </span> <%= t "layout.header.phone" %>
          </a>
        </form>
      </div>
    </div>
    <div class="flex-grow-1 position-relative">
      <!-- Form -->
      <form class="navbar-form">
        <div class="input-group">
          <!-- Input -->
          <%= search_form_for @q do |f| %>
            <%= f.search_field :product_name_cont, placeholder: I18n.t("layout.header.placeholder"), class: "form-control form-control-lg"%>
            <%= f.select :category_id_eq, Settings.category.search.to_h, prompt: I18n.t("layout.header.all_category"), class: "custom-select custom-select-lg d-none d-md-block"%>
            <%= f.submit%>
          <% end %>
        </div>
      </form>
      <!-- Collapse -->
      <div class="dropdown-menu dropdown-collapse" id="navbarMenu">
        <!-- Women clothes -->
        <div class="collapse" id="womensClothes" data-parent="#navbarMenu">
          <!-- Close -->
          <button type="button" class="close d-md-none">
            <i class="fa fa-x" aria-hidden="true"></i>
          </button>
          <!-- Card -->
          <div class="card card-lg shadow-border">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col-6 col-md-4">
                      <!-- Heading -->
                      <div class="mb-5 font-weight-bold"><%= t "layout.header.phone" %></div>
                      <!-- Links -->
                      <ul class="list-styled font-size-sm">
                        <li class="list-styled-item">
                          <%= link_to  "Iphone 11", "#", class:"list-styled-link" %>
                        </li>
                        <li class="list-styled-item">
                          <%= link_to  "Iphone 10", "#", class:"list-styled-link" %>
                        </li>
                        <li class="list-styled-item">
                          <%= link_to  "Iphone 8", "#", class:"list-styled-link" %>
                        </li>
                        <li class="list-styled-item">
                          <%= link_to  "Iphone 7", "#", class:"list-styled-link" %>
                        </li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4">
                      <!-- Heading -->
                      <div class="mb-5 font-weight-bold"><%= t "layout.header.latop" %></div>
                      <!-- Links -->
                      <ul class="list-styled mb-0 font-size-sm">
                        <li class="list-styled-item">
                          <%= link_to  "Macbook Pro", "#", class:"list-styled-link" %>
                        </li>
                        <li class="list-styled-item">
                          <%= link_to  "Macbook Air", "#", class:"list-styled-link" %>
                        </li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4">
                      <!-- Heading -->
                      <div class="mb-5 font-weight-bold"><%= t "layout.header.ipad" %></div>
                      <!-- Links -->
                      <ul class="list-styled font-size-sm">
                        <li class="list-styled-item">
                          <%= link_to  "Ipad Pro 11", "#", class:"list-styled-link" %>
                        </li>
                        <li class="list-styled-item">
                          <%= link_to  "Ipad 6", "#", class:"list-styled-link" %>
                        </li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-4">
                      <!-- Heading -->
                      <div class="mb-5 font-weight-bold"><%= t "layout.header.watch" %></div>
                      <!-- Links -->
                      <ul class="list-styled mb-md-0 font-size-sm">
                        <li class="list-styled-item">
                          <%= link_to  "Apple Watch 5", "#", class:"list-styled-link" %>
                        </li>
                        <li class="list-styled-item">
                          <%= link_to  "Apple Watch 6", "#", class:"list-styled-link" %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-4 d-none d-md-flex flex-column">
                  <!-- Card -->
                  <a class="card mb-6 bg-cover" href="./shop.html" style="min-height: 185px;">
                    <!-- Background -->
                    <div class="card-bg">
                      <div class="card-bg-img bg-cover" style="background-image: url(./assets/img/products/product-1.jpg);"></div>
                    </div>
                    <!-- Body -->
                    <div class="card-body my-auto">
                      <!-- Heading -->
                      <h6 class="text-center text-white">
                        Bags Collection
                      </h6>
                    </div>
                  </a>
                  <!-- Card -->
                  <a class="card bg-cover" href="./shop.html" style="min-height: 185px;">
                    <!-- Background -->
                    <div class="card-bg">
                      <div class="card-bg-img bg-cover" style="background-image: url(./assets/img/products/product-111.jpg);"></div>
                    </div>
                    <!-- Body -->
                    <div class="card-body my-auto">
                      <!-- Heading -->
                      <h6 class="text-center text-white">
                        Watch Collection
                      </h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Men clothes -->
        <div class="collapse" id="mensClothes" data-parent="#navbarMenu">
          <!-- Close -->
          <button type="button" class="close d-md-none">
            <i class="fa fa-x" aria-hidden="true"></i>
          </button>
          <!-- Card -->
          <div class="card card-lg shadow-border">
            <div class="card-body">
              <%= t "layout.header.notify" %>
            </div>
          </div>
        </div>
        <!-- Girls clothes -->
        <div class="collapse" id="girlsClothes" data-parent="#navbarMenu">
          <!-- Close -->
          <button type="button" class="close d-md-none">
            <i class="fa fa-x" aria-hidden="true"></i>
          </button>
          <!-- Card -->
          <div class="card card-lg shadow-border">
            <div class="card-body">
              <%= t "layout.header.notify" %>
            </div>
          </div>
        </div>
        <!-- Boys clothes -->
        <div class="collapse" id="boysClothes" data-parent="#navbarMenu">
          <!-- Close -->
          <button type="button" class="close d-md-none">
            <i class="fa fa-x" aria-hidden="true"></i>
          </button>
          <!-- Card -->
          <div class="card card-lg shadow-border">
            <div class="card-body">
              <%= t "layout.header.notify" %>
            </div>
          </div>
        </div>
        <!-- Bags & Accessories -->
        <div class="collapse" id="bagsAccessories" data-parent="#navbarMenu">
          <!-- Close -->
          <button type="button" class="close d-md-none">
            <i class="fa fa-x" aria-hidden="true"></i>
          </button>
          <!-- Card -->
          <div class="card card-lg shadow-border">
            <div class="card-body">
              <%= t "layout.header.notify" %>
            </div>
          </div>
        </div>
        <!-- Women shoes -->
        <div class="collapse" id="womensShoes" data-parent="#navbarMenu">
          <!-- Close -->
          <button type="button" class="close d-md-none">
            <i class="fa fa-x" aria-hidden="true"></i>
          </button>
          <!-- Card -->
          <div class="card card-lg shadow-border">
            <div class="card-body">
              <%= t "layout.header.notify" %>
            </div>
          </div>
        </div>
        <!-- Men shoes -->
        <div class="collapse" id="mensShoes" data-parent="#navbarMenu">
          <!-- Close -->
          <button type="button" class="close d-md-none">
            <i class="fa fa-x" aria-hidden="true"></i>
          </button>
          <!-- Card -->
          <div class="card card-lg shadow-border">
            <div class="card-body">
              <%= t "layout.header.notify" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="pt-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Heading -->
        <h2 class="mb-10 text-center"><%= t "content.product.new_product"%></h2>
      </div>
    </div>
    <div class="row">
      <% @products.each do |product|%>
        <div class="col-6 col-md-3 col-lg">
          <!-- Card -->
          <div class="card mb-7" data-toggle="card-collapse">
            <!-- Image -->
            <%= link_to image_tag( product.images[0].url , alt: "image", class: "card-img-top"), product_path(product) if product.images.any? %>
            <!-- Collapse -->
            <div class="card-collapse-parent">
              <!-- Body -->
              <div class="card-body px-0 bg-white text-center">
                <!-- Heading -->
                <div class="mb-1 font-weight-bold">
                  <%= link_to  product.product_name, "#", class:"text-body" %><br>
                  <%= link_to I18n.t("product_detail.detail"), product_path(product) %>
                </div>
                <!-- Price -->
                <div class="mb-1 font-weight-bold text-muted">
                  $<%= product.price%>
                </div>
                <!--Add shop cart-->
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Divider -->
      <div class="w-100 d-none d-lg-block"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Link  -->
        <div class="mt-7 text-center">
          <%= link_to  I18n.t("content.product.discover"), lists_path, class:"link-underline" %>
        </div>
      </div>
    </div>
  </div>
</section>
