<div class="col-md-3">
  <div class="widget well">
    <div class="widget-advanced widget-advanced-alt">
      <div class="widget-header text-center themed-background-dark-autumn">
        <div class="widget-options">
          <%= link_to edit_dashboard_event_path(event), class: "btn btn-xs btn-primary", title: I18n.t("form.title"), remote: true do %>
            <i class="fa fa-cog"></i>
          <% end %>
        </div>
        <h4 class="widget-content-light">
          <%= link_to event.name, dashboard_event_path(event) %>
        </h4>
      </div>

      <div class="widget-main">
        <div class="list-group remove-margin">
          <a href="javascript:void(0)" class="list-group-item">
            <span class="pull-right"><strong><%= strftime event.starts_on %></strong></span>
            <h4 class="list-group-item-heading remove-margin"><i class="fa fa-calendar fa-fw"></i></h4>
          </a>
          <a href="javascript:void(0)" class="list-group-item">
            <span class="pull-right"><strong><%= event.participants.count %></strong></span>
            <h4 class="list-group-item-heading remove-margin"><i class="fa fa-user fa-fw"></i></h4>
            <p class="list-group-item-text"></p>
          </a>
          <div class="list-group-item">
            <%= link_to I18n.t("form.detail"), dashboard_event_path(event), remote: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
