<% content_for :search_box do %>
  <form action="a.html" method="post" class="navbar-form-custom">
    <div class="search-box">
      <input type="text" id="search-data" class="form-control input-typeahead" autocomplete="off" placeholder= <%= I18n.t ("form.search_placeholder") %>>
      <button type="button" class="form-control admin-button-search"><i class="fa fa-search fa-fw"></i></button>
    </div>
  </form>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-extra themed-background-dark">
        <div class="widget-options">
          <div class="btn-group btn-group-xs">
          </div>
        </div>
        <h3 class="widget-content-light">
          <%= t("timeline.text") %>
        </h3>
      </div>
      <div class="widget-extra">
        <div class="timeline">
          <ul class="timeline-list" id="admin-timeline">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-extra themed-background-dark">
        <div class="widget-options">
          <div class="btn-group btn-group-xs">
            <%= link_to edit_dashboard_event_path(@event),
                        title: I18n.t("timeline.title_edit") , class: "btn btn-default",
                        remote: true do %>
              <%= fa_icon "pencil" %>
            <% end %>
            <%= link_to admin_list_dashboard_event_participants_path(@event),
                        title: I18n.t("form.title"), class: "btn btn-default",
                        remote: true do %>
              <%= fa_icon "cog" %>
            <% end %>
          </div>
        </div>
        <h3 class="widget-content-light">
          <strong><%= @event.name %></strong>
        </h3>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <div class="block full">
            <div class="block-title">
              <div class="block-options pull-right">


                <div class="btn-group">
                <%= link_to "Quản lý người tham gia",dashboard_event_invitations_path(@event), class: "btn btn-alt btn-sm btn-default dropdown-toggle"%>
                </div>


                <div class="btn-group">
                  <a class="btn btn-alt btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Menu</a>
                  <ul class="dropdown-menu dropdown-custom dropdown-menu-right" id="event-tab-id">
                    <li>
                      <%= link_to "Tạo ghi chú mới", new_dashboard_event_note_path(@event), remote: true %>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="nav nav-tabs event-tab" data-toggle="tabs" id="dashboard-event-tab">
                <li class="active"><a href="#tabs-note"><%= I18n.t("form.note") %></a><span hidden><%= I18n.t("form.note") %></span></li>
                <li><a href="#tabs-poll"><%= I18n.t("form.poll") %> </a><span hidden><%= I18n.t("form.poll") %></span></li>
                <li><a href="#tabs-question"><%= I18n.t("form.discussion") %></a><span hidden><%= I18n.t("form.discussion") %></span></li>
                <li><a href="#tabs-document"><%= I18n.t("form.document") %></a><span hidden><%= I18n.t("form.document") %></span></li>
              </ul>
            </div>

            <div class="tab-content list_element">
              <div class="tab-pane active" id="tabs-note">
                <%= render 'dashboard/notes/index' %>
              </div>
              <div class="tab-pane" id="tabs-poll"><%= I18n.t("form.poll") %>..</div>
              <div class="tab-pane" id="tabs-question"><%= I18n.t("form.questions") %>..</div>
              <div class="tab-pane" id="tabs-document"><%= I18n.t("form.document") %>..</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
