<!-- FOOTER -->
<div class="container px-0">
  <div class="row no-gutters">
  <div class="col-12">

      <footer class="@@classList">
      <div class="py-12 bg-dark bg-cover" style="background-image: url(<%= image_path "patterns/pattern-2.svg"%>)">
          <div class="container">
          <div class="row">
              <div class="col-12 text-center">

              <!-- Brand -->
              <h2 class="mb-7 text-white">D&L Shopper.</h2>

              <!-- Links -->
              <ul class="list-inline mb-7">
                  <li class="list-inline-item px-3">
                  <a class="text-gray-300" href="./contact-us.html">Contact Us</a>
                  </li>
                  <li class="list-inline-item px-3">
                  <a class="text-gray-300" href="./faq.html">FAQs</a>
                  </li>
                  <li class="list-inline-item px-3">
                  <a class="text-gray-300" data-toggle="modal" href="#modalSizeChart">Size Guide</a>
                  </li>
                  <li class="list-inline-item px-3">
                  <a class="text-gray-300" href="./shipping-and-returns.html">Shipping & Returns</a>
                  </li>
                  <li class="list-inline-item px-3">
                  <a class="text-gray-300" href="./about.html">Our Story</a>
                  </li>
              </ul>

              <!-- Links -->
              <ul class="list-inline font-size-lg">
                  <li class="list-inline-item">
                  <a class="text-gray-300" href="#!">
                      <i class="fa fa-facebook"></i>
                  </a>
                  </li>
                  <li class="list-inline-item">
                  <a class="text-gray-300" href="#!">
                      <i class="fa fa-youtube"></i>
                  </a>
                  </li>
                  <li class="list-inline-item">
                  <a class="text-gray-300" href="#!">
                      <i class="fa fa-twitter"></i>
                  </a>
                  </li>
                  <li class="list-inline-item">
                  <a class="text-gray-300" href="#!">
                      <i class="fa fa-instagram"></i>
                  </a>
                  </li>
              </ul>

              </div>
          </div>
          </div>
      </div>
      <div class="py-6">
          <div class="container">
          <div class="row">
              <div class="col">

              <!-- Copyright -->
              <p class="mb-3 mb-md-0 font-size-xxs text-muted">
                  © 2020 All rights reserved. Designed by D&L
              </p>

              </div>
              <div class="col-auto">

              <!-- Payment methods -->
              <%= image_tag "payment/mastercard.svg", class: "footer-payment"%>
              <%= image_tag "payment/visa.svg", class: "footer-payment"%>
              <%= image_tag "payment/paypal.svg", class: "footer-payment"%>
              <%= image_tag "payment/maestro.svg", class: "footer-payment"%>
              </div>
          </div>
          </div>
      </div>
      </footer>