<!-- FOOTER -->
<div class="container px-0">
<div class="row no-gutters">
<div class="col-12">

<footer class="@@classList">
<div class="py-12 bg-dark bg-cover" style="background-image: url(<%= image_path "patterns/pattern-2.svg"%>)">
    <div class="container">
    <div class="row">
        <div class="col-12 text-center">

        <!-- Brand -->
        <h2 class="mb-7 text-white">D&L Shopper.</h2>

        <!-- Links -->
        <ul class="list-inline mb-7">
            <li class="list-inline-item px-3">
            <%= link_to  I18n.t("layout.footer.contact_us"), "#", class:"text-gray-300" %>
            </li>
            <li class="list-inline-item px-3">
            <%= link_to  "FAQs", "#", class:"text-gray-300" %>
            </li>
            <li class="list-inline-item px-3">
            <%= link_to  I18n.t("layout.footer.size_guide"), "#", data: {toggle: "modal"} ,class:"text-gray-300" %>
            </li>
            <li class="list-inline-item px-3">
            <%= link_to  I18n.t("layout.footer.shipping_return"), "#", class:"text-gray-300" %>
            </li>
            <li class="list-inline-item px-3">
            <%= link_to  I18n.t("layout.footer.our_story"), "#", class:"text-gray-300" %>
            </li>
        </ul>

        <!-- Links -->
        <ul class="list-inline font-size-lg">
            <li class="list-inline-item">
            <a class="text-gray-300" href="#!">
                <i class="fa fa-facebook"></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="text-gray-300" href="#!">
                <i class="fa fa-youtube"></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="text-gray-300" href="#!">
                <i class="fa fa-twitter"></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="text-gray-300" href="#!">
                <i class="fa fa-instagram"></i>
            </a>
            </li>
        </ul>

        </div>
    </div>
    </div>
</div>
<div class="py-6">
    <div class="container">
    <div class="row">
        <div class="col">

        <!-- Copyright -->
        <p class="mb-3 mb-md-0 font-size-xxs text-muted">
        <%= t "layout.footer.design" %>
        </p>

        </div>
        <div class="col-auto">

        <!-- Payment methods -->
        <%= image_tag "payment/mastercard.svg", class: "footer-payment"%>
        <%= image_tag "payment/visa.svg", class: "footer-payment"%>
        <%= image_tag "payment/paypal.svg", class: "footer-payment"%>
        <%= image_tag "payment/maestro.svg", class: "footer-payment"%>
        </div>
    </div>
    </div>
</div>
</footer>
