<!-- NAVBAR -->
<nav class="navbar navbar-expand-xl navbar-light zindex-fixed">
  <div class="container">

  <!-- Brand -->
  <a class="navbar-brand" href="<%= root_path %>">
      <%= t "layout.header.name_shop" %>
  </a>

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBoxedTopCollapse" aria-controls="navbarBoxedTopCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapse -->
  <div class="collapse navbar-collapse" id="navbarBoxedTopCollapse">

      <!-- Nav -->
      <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
          <!-- Toggle -->
          <a class="nav-link" href="<%= root_path %>"><%= t "layout.header.home" %></a>
      </li>
      <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-toggle="dropdown" href="#"><%= t "layout.header.product" %></a>

          <!-- Menu -->
          <div class="dropdown-menu" style="min-width: 650px;">
          <div class="card card-lg">
              <div class="card-body">
              <div class="row">
                  <div class="col">

                  <!-- Heading -->
                  <div class="mb-5 font-weight-bold"><%= t "layout.header.branch.apple" %></div>

                  <!-- Links -->
                  <ul class="list-styled font-size-sm">
                      <li class="list-styled-item">
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-images-left.html"><%= t "layout.header.phone" %></a>
                      </li>
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-image-grid.html"><%= t "layout.header.laptop" %></a>
                      </li>
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-image-slider.html"><%= t "layout.header.watch" %></a>
                      </li>
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-images-stacked.html"><%= t "layout.header.ipad" %></a>
                      </li>
                  </ul>

                  </div>
                  <div class="col">

                  <!-- Heading -->
                  <div class="mb-5 font-weight-bold"><%= t "layout.header.branch.samsung" %></div>

                  <!-- Links -->
                  <ul class="list-styled mb-7 font-size-sm">
                      <li class="list-styled-item">
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-images-left.html"><%= t "layout.header.phone" %></a>
                      </li>
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-image-grid.html"><%= t "layout.header.laptop" %></a>
                      </li>
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-images-stacked.html"><%= t "layout.header.ipad" %></a>
                      </li>
                  </ul>

                  <!-- Heading -->
                  <div class="mb-5 font-weight-bold"><%= t "layout.header.branch.dell" %></div>

                  <!-- Links -->
                  <ul class="list-styled font-size-sm">
                      <li class="list-styled-item">
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-images-left.html"><%= t "layout.header.phone" %></a>
                      </li>
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-image-grid.html"><%= t "layout.header.laptop" %></a>
                      </li>
                  </ul>

                  </div>
                  <div class="col">

                  <!-- Heading -->
                  <div class="mb-5 font-weight-bold"><%= t "layout.header.branch.huawei" %></div>

                  <!-- Links -->
                  <ul class="list-styled font-size-sm">
                      <li class="list-styled-item">
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-images-left.html"><%= t "layout.header.phone" %></a>
                      </li>
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-image-grid.html"><%= t "layout.header.laptop" %></a>
                      </li>
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-image-slider.html"><%= t "layout.header.watch" %></a>
                      </li>
                      <li class="list-styled-item">
                      <a class="list-styled-link" href="./product-images-stacked.html"><%= t "layout.header.ipad" %></a>
                      </li>
                  </ul>

                  </div>
              </div>
              </div>
          </div>
          </div>
      </li>
      <li class="nav-item">
          <!-- Toggle -->
          <a class="nav-link" href="#"><%= t "layout.header.about" %></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><%= t "layout.header.contact" %></a>
      </li>
      </ul>

      <!-- Nav -->
      <ul class="navbar-nav nav-divided">
      <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link text-body" data-toggle="dropdown" href="#"><%= t "layout.header.language" %></a>

          <!-- Menu -->
          <div class="dropdown-menu">
          <div class="card card-lg">
              <div class="card-body">
              <ul class="list-styled font-size-sm">
                  <li class="list-styled-item">
                  <a class="list-styled-link" href="#!">United States</a>
                  </li>
                  <li class="list-styled-item">
                  <a class="list-styled-link" href="#!">Viet Nam</a>
                  </li>
              </ul>
              </div>
          </div>
          </div>

      </li>
      <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link text-body" data-toggle="dropdown" href="#"><%= t "layout.header.currency_unit" %></a>

          <!-- Menu -->
          <div class="dropdown-menu">
          <div class="card card-lg">
              <div class="card-body">
              <ul class="list-styled font-size-sm">
                  <li class="list-styled-item">
                  <a class="list-styled-link" href="#!">USD</a>
                  </li>
                  <li class="list-styled-item">
                  <a class="list-styled-link" href="#!">VNĐ</a>
                  </li>
              </ul>
              </div>
          </div>
          </div>

      </li>
      <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link text-body" data-toggle="dropdown" href="#"><%= t "layout.header.language_syntax" %></a>

          <!-- Menu -->
          <div class="dropdown-menu">
          <div class="card card-lg">
              <div class="card-body">
              <ul class="list-styled font-size-sm">
                  <li class="list-styled-item">
                  <a class="list-styled-link"><%= link_to "EN", locale:"en" %></a>
                  </li>
                  <li class="list-styled-item">
                  <a class="list-styled-link"><%= link_to "VN", locale:"vi" %></a>
                  </li>
              </ul>
              </div>
          </div>
          </div>

      </li>
      </ul>

      <!-- Nav -->
      <ul class="navbar-nav flex-row">
      
      <li class="nav-item ml-lg-n4">
          <a class="nav-link">
          <% if current_user %>
              <%= link_to edit_customer_path(current_user.id) do %>
                <i class="fa fa-user"></i>
              <% end %>
          <%end%>
          </a>
      </li>

      <li class="nav-item ml-lg-n4">
          <% if current_user %>
            <a class="nav-link">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>
              <% end %>
            </a>
          <% else %>
            <a class="nav-link">
              <%= link_to new_user_session_path do %>
                <i class="fa fa-user"></i>
              <% end %>
            </a>
          <% end %>
      </li>

      <li class="nav-item ml-lg-n4">
        <% if current_user %>
          <%= render "carts/cart_text"%>
         <% else %>
            <%= link_to cart_path(:id), 
            class: "nav-link badge badge-light" do %>
                <i class="fa fa-shopping-cart"></i>
            <% end %>
         <% end %> 
      </li>
      </ul>

    </div>
  </div>
</nav>