<!-- REVIEWS -->
<section class="pt-9 pb-11" id="reviews">
  <div class="container">
  <div class="row">
      <div class="col-12">

      <!-- Heading -->
      <h4 class="mb-10 text-center"><%= t("review.name") %></h4>

      <!-- Header -->
      <div class="row align-items-center">
          <div class="col-12 col-md-auto">

          <!-- Dropdown -->
          <div class="dropdown mb-4 mb-md-0">

              <!-- Toggle -->
              <a class="text-reset" data-toggle="dropdown" href="#">
              <strong><%= t("review.sortby.name") %></strong>
              </a>

              <!-- Menu -->
              <div class="dropdown-menu mt-3">
              <%= link_to  I18n.t("review.sortby.new"), "#", class:"dropdown-item" %>
              <%= link_to  I18n.t("review.sortby.old"), "#", class:"dropdown-item" %>
              </div>

          </div>

          </div>
          <div class="col-12 col-md text-md-center">
          <!-- Count -->
          <%# <strong class="font-size-sm ml-2">Reviews (3)</strong> %>

          </div>
          <div class="col-12 col-md-auto">

          <!-- Button -->
          <%= link_to  I18n.t("review.write.name"), "#reviewForm", data: { toggle: "collapse" } ,class:"btn btn-sm btn-dark" %>

          </div>
      </div>

      <!-- New Review -->
      <div class="collapse" id="reviewForm">
        <!-- Divider -->
        <hr class="my-8">

          <div class="row">
            <div class="col-12 mb-6 text-center">
                <!-- Text -->
                <p class="mb-1 font-size-xs">
                    <%= t ("review.write.score") %>
                </p>
              </div>

              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <%= form_for @review do |f| %>
                    <div class="row">
                    <div class="col-md-2">
                        <h4><%= t("label.review") %>:</h4>
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <%= f.hidden_field :product_id, value: @product.id %>
                        <%= f.hidden_field :score, class: "rating",
                        data: {filled: "fa fa-star fa-2x", empty: "fa fa-star-o fa-2x"} %>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-10">
                        <%= f.text_area :content, placeholder: t("review.write.review"), class: "md-textarea form-control" %>
                    </div>
                    <div class="col-md-2">
                        <%= f.button :submit, class: "btn btn-outline-dark" %>
                    </div>
                    </div>
                  <% end %>
                </div>

                </div>
              </div>

      </div>

      <!-- Reviews -->
      <div class="mt-8">

          <!-- Review -->
          <div class="review">
            <div class="review-body">
                <div class="row">
                <div class="col-12 col-md-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-xxl mb-6 mb-md-0">
                    <span class="avatar-title rounded-circle">
                        <i class="fa fa-user"></i>
                    </span>
                    </div>

                </div>
                <div class="col-12 col-md">

                    <!-- Header -->
                    <div class="row mb-6">
                      <div class="col-12">

                        <!-- Rating -->
                        <div class="rating font-size-sm text-dark" data-value="3">
                          <div class="rating-item">
                              <i class="fa fa-star"></i>
                          </div>
                          <div class="rating-item">
                              <i class="fa fa-star"></i>
                          </div>
                          <div class="rating-item">
                              <i class="fa fa-star"></i>
                          </div>
                          <div class="rating-item">
                              <i class="fa fa-star"></i>
                          </div>
                          <div class="rating-item">
                              <i class="fa fa-star"></i>
                          </div>
                        </div>

                      </div>
                      <div class="col-12">

                        <% if @product.reviews.any? %>
                          <div class="container">
                            <div class="card">
                              <ul class="list-group list-group-flush">
                                <%= render partial: "review", collection: @reviews %>
                              </ul>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>

                    <!-- Footer -->
                    <div class="row align-items-center">
                      <div class="col-auto d-none d-lg-block">
                          <!-- Text -->
                          <p class="mb-0 font-size-sm">Was this review helpful?</p>
                      </div>
                    <div class="col-auto mr-auto">
                        <!-- Rate -->
                        <div class="rate">
                        <a class="rate-item" data-toggle="vote" data-count="2" href="#" role="button">
                            <i class="fa fa-thumbs-up"></i>
                        </a>
                        <a class="rate-item" data-toggle="vote" data-count="1" href="#" role="button">
                            <i class="fa fa-thumbs-down"></i>
                        </a>
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <!-- Text -->
                        <p class="mb-0 font-size-sm">Comments (1)</p>
                    </div>
                    <div class="col-auto">
                        <!-- Button -->
                        <%= link_to  "Comment", "#", class:"btn btn-xs btn-outline-border" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
