<!DOCTYPE html>
<html>
  <head>
    <title>DL-CHAT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="flash_messages">
        <% flash.each do |message_type, message| %>
          <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
        <% end %>
      </div>
      <%= yield %>
      <%= render "layouts/footer" %>
  </body>
</html>
